<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>提现申请</title>
  <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <meta content="black" name="apple-mobile-web-app-status-bar-style" />
  <meta content="telephone=no" name="format-detection" />

  <!-- 引入fontawesome字体 -->
  <link rel="stylesheet" href="{{ static_url('css/font-awesome.min.css') }}">
  <!-- 引入YDUI样式 -->
  <link rel="stylesheet" href="{{ static_url('ydui/css/ydui.css') }}">
  <!-- <link rel="stylesheet" href="{{ static_url('jquery-weui/lib/weui.min.css') }}"> -->
  <link rel="stylesheet" href="{{ static_url('shuttle/css/swipebox.min.css') }}">
  <link rel="stylesheet" href="{{ static_url('shuttle/css/swiper.min.css') }}">
  <link rel="stylesheet" href="{{ static_url('css/legend.css') }}" />

  <!-- 引入YDUI自适应解决方案类库 -->
  <script src="{{ static_url('ydui/js/ydui.flexible.js') }}"></script>

  <style>
    .primary-color {
      background-color: #01acc6 !important;
    }

    .g-scrollview:after {
      content: '';
      display: block;
      width: 100%;
      height: 0;
    }
  </style>

</head>

<body>

  <div class="g-flexview">
    <!-- Page Contents -->
    <div id="mainForm" class="g-scrollview">

      <!-- Hero Header -->
      <div class="hero-header hero-big bg-3 animated fadeindown" style="background: url({{ supplier['img'] }}) no-repeat center / cover !important;">
        <div class="hero-author">
          <div class="media-top-object">
            <div class="media-body left-align">
              <span class="white-text small">供应商: <em>{{ supplier['name'] }}</em></span>
            </div>
          </div>
        </div>
        <div class="opacity-overlay-gradient"></div>
      </div>

      <!-- Article Content -->
      <div class="animated fadeinup delay-1">
        <div class="p-20">
          <blockquote class="accent-border">申请成功！联盟管理员会尽快审核此申请，随后通知您！</blockquote>
        </div>

        <!-- 使用：样式模块以按钮为例 -->
        <form>
          <div class="m-button">
            <button type="submit" class="btn-block btn-primary primary-color">关闭</button>
          </div>
        </form>
      </div>

      <!-- Footer -->
      {% module Template("eshop/block-footer.html", club=supplier) %}

    </div>
    <!-- /Page Contents -->
  </div>

  <!-- 引入jQuery 2.0+ -->
  <script src="{{ static_url('js/jquery-2.2.4.min.js') }}"></script>
  <!-- 引入YDUI脚本 -->
  <script src="{{ static_url('ydui/js/ydui.js') }}"></script>
  <!-- <script src="{{ static_url('shuttle/js/vendor/jquery.mixitup.min.js') }}"></script> -->
  <script src="{{ static_url('shuttle/js/vendor/jquery.swipebox.min.js') }}"></script>
  <!-- <script src="{{ static_url('shuttle/js/vendor/masonry.min.js') }}"></script> -->
  <script src="{{ static_url('shuttle/js/vendor/swiper.min.js') }}"></script>
  <script src="{{ static_url('shuttle/js/vendor/materialize.min.js') }}"></script>
  <!-- <script src="{{ static_url('shuttle/js/main.js') }}"></script> -->

</body>
</html>
