<!-- 重新调整后的活动详情，简化内容去除不必要的东西 -->
<!-- @2016/05/19 -->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{{activity['title']}}</title>
<link rel="stylesheet" href="{{ static_url('frozenui-1.3.0/css/frozen.css') }}">
<link href="{{ static_url('customer/css/common.css') }}" rel="stylesheet" type="text/css">
<link href="{{ static_url('customer/css/actdetails.css') }}" rel="stylesheet" type="text/css">
</head>
<body ontouchstart class="padding-bottom-70">
  <div class="banner">
    <img src="{{activity['bk_img_url']}}" />
    {% set phases = {'0':'招募中','1':'已成行','2':'已满员','3':'已结束'} %}
    {% set themes = {'0':'green','1':'orange','2':'red','3':'gray'} %}
    <div class="bookmarks {{themes[activity['phase']]}}">{{phases[activity['phase']]}}</div>
    <!-- banner文字 -->
    <p class="banner_tit">{{activity['title']}}</p>
  </div>
  <div class="white-bg padding-bottom-10">
    <div class="ui-whitespace margin-left-10 ui-border-b padding-bottom-10">
      <!-- 价格 -->
      <p class="ui-txt-highlight act-price">
        ¥ {{activity['amount']}}元
      </p>
      <!-- 活动时间 -->
      <p class="ui-txt-info">
        {% if activity['begin_time'] == activity['end_time'] %}
          {{activity['begin_time']}}
        {% else %}
          {{activity['begin_time']}} ~ {{activity['end_time']}}
        {% end %}
      </p>
      <p class="ui-txt-info">
        <a>分享活动获得{{bonus_template['activity_shared']}}个积分</a>
      </p>
    </div>

  </div>
  <!-- 活动其他指标 -->
  <div class="white-bg padding-bottom-10 ">
    <div class="ui-whitespace margin-left-10 ui-border-b padding-bottom-10 ">
			<div class="ui-row-flex ">
			    <div class="ui-col ui-col-2">
						<ul >
							<li>
								<span >骑行里程：{{activity['distance']}}公里</span>
							</li>
							<li>
								<span >强度：{{activity['strength']}}</span>
							</li>
							<li>
								<span >风景指数：{{activity['scenery']}}</span>
							</li>
							<li>
								<span >路面情况：{{activity['road_info']}}</span>
							</li>
						</ul>
					</div>
			    <div class="ui-col ui-border-l ui-flex ui-flex-pack-center ui-flex-align-center">
						<i class="ui-icon-pin location-icon-big ui-txt-muted"></i>
					</div>
			</div>
    </div>
  </div>
  <!-- 参加人员头像列表 -->
  <div class="white-bg padding-bottom-10 margin-bottom-10">
    <ul class="ui-whitespace margin-left-10 ui-justify">
			<li><p><span class="act-mbr-num"></span>人报名</p></li>
      <!-- <li class="view-all-mbrs"><p><a>查看全部</a></p></li> -->
    </ul>
    <!-- TODO: -->
    <!-- 动态头像添加图标 -->
		<div class="ui-whitespace ui-row-flex margin-top-10 members-avatar">
			<!-- 可点击头像图标 -->
		</div>
  </div>

  <div class="ui-loading-wrap">
    <p>正在加载中...</p>
    <i class="ui-loading"></i>
  </div>

  <!-- TODO: 放活动的路线详情内容 -->
	<div class="main routines">
    <!-- <span class="bm">活动介绍</span> -->
    <div class="m1">
      {% raw article['paragraphs'] %}
    </div>
	</div>

  <!-- 分享获得积分提示对话窗口 -->
  <div class="ui-dialog">
    <div class="ui-dialog-cnt">
      <header class="ui-dialog-hd ui-border-b">
          <h3>温馨提示</h3>
          <!-- <i class="ui-dialog-close" data-role="button"></i> -->
      </header>
      <div class="ui-dialog-bd">
          <!-- <h4></h4> -->
          <div class="center">分享活动获得{{bonus_template['activity_shared']}}个积分！</div>
      </div>
      <div class="ui-dialog-ft">
          <!-- <button type="button" data-role="button">取 消</button> -->
          <button type="button" data-role="button">确 认</button>
      </div>
    </div>
  </div>

	<!-- 底部工具栏 -->
  <div class="ui-footer ui-footer-stable white ui-border-t ui-row-flex">
    <div class="ui-btn-group no-gap">
      <input id="phase" type="hidden" value="{{ activity['phase'] }}"/>
      <button class="ui-btn-lg round-corner no-border in-footer ui-btn-success join-wexin-group" >
          微信群
      </button>
      <button class="ui-btn-lg round-corner no-border in-footer ui-btn-primary join-activity" >
        {% if activity['phase'] == '0' %}
          报名
        {% elif activity['phase'] == '1' %}
          报名
        {% elif activity['phase'] == '2' %}
          报名截止
        {% elif activity['phase'] == '3' %}
          报名截止
        {% else %}
          报名
        {% end %}
      </button>
    </div>
  </div>

  <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  <script src="{{ static_url('frozenui-1.3.0/lib/zepto.min.js') }}"></script>
  <!-- 活动编号 -->
	<script type='text/template', id='data-actID'>{{activity['_id']}}</script>
  <!-- 活动对应的文章编号 -->
	<script type='text/template', id='data-atcID'>{{activity.get('article_id','')}}</script>

  <script>
  	wx.config({
  	  debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
  	  appId: '{{ wx_app_id }}', // 必填，公众号的唯一标识
  	  timestamp: '{{sign["timestamp"]}}', // 必填，生成签名的时间戳
  	  nonceStr: '{{sign["nonceStr"]}}', // 必填，生成签名的随机串
  	  signature: '{{sign["signature"]}}',// 必填，签名，见附录1
  	  jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
  	});

    wx.ready(function(){
  	  wx.onMenuShareAppMessage({
        title: '{{activity["title"]}}', // 分享标题
        desc: '{{activity["location"]}}', // 分享描述
  	    link: '{{ wx_notify_domain }}/bf/wx/vendors/{{ vendor_id }}/activitys/{{activity["_id"]}}', // 分享链接
  	    imgUrl: '{{activity["bk_img_url"]}}', // 分享图标
  	    type: 'link', // 分享类型,music、video或link，不填默认为link
  	    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
  	    success: function () {
          // 用户确认分享后执行的回调函数
          $.get("/bf/api/vendors/{{ vendor_id }}/activitys/{{activity['_id']}}/share?account_id={{account_id}}",{},function(result){
            // 弹出提示窗口
            alert("分享活动获得{{bonus_template['activity_shared']}}个积分！");
            //$(".ui-dialog").dialog("show");
          },'json');
  	    },
  	    cancel: function () {
  	      // 用户取消分享后执行的回调函数
  	    }
  	  });

  	  wx.onMenuShareTimeline({
  	    title: '{{activity["title"]}}', // 分享标题
  	    link: '{{ wx_notify_domain }}/bf/wx/vendors/{{ vendor_id }}/activitys/{{activity["_id"]}}', // 分享链接
  	    imgUrl: '{{activity["bk_img_url"]}}', // 分享图标
  	    success: function () {
          // 用户确认分享后执行的回调函数
          $.get("/bf/api/vendors/{{ vendor_id }}/activitys/{{activity['_id']}}/share?account_id={{account_id}}",{},function(result){
            // 弹出提示窗口
            alert("分享活动获得{{bonus_template['activity_shared']}}个积分！");
            //$(".ui-dialog").dialog("show");
          },'json');
  	    },
  	    cancel: function () {
  	        // 用户取消分享后执行的回调函数
  	    }
  	  });
    });
  </script>

  <script>

  /**
   * 活动详情交互脚本
   * @2016/05/25
   */
  $(function(){

    var activityID = $('#data-actID').html();
    var articleID = $('#data-atcID').html();
    // console.log('article: '+articleID);

    function createAvatar(item){
      var imgURL = '/static/img/icon/avatar_no_blue.png';
      if(item.account_avatar) {
          imgURL = item.account_avatar;
      }
      var span = '';
          span +='<span class="ui-avatar-tiled margin-right-4">';
          span +='  <span style="background-image:url('+imgURL+')"></span>';
          span +='</span>';

      return span;
    }

    //先获取参加成员名单
    $.getJSON('/bf/api/vendors/{{ vendor_id }}/activitys/'+ activityID +'/members', function(result){
      console.log(result);
      var amount = '暂时无';
      if(result.length) amount = result.length;
      $('.act-mbr-num').html(amount);

      if(!result.length) {
        $('.view-all-mbrs').hide();
        return;
      }

      // TODO: 动态创建头像
      /**
       * <span class="ui-avatar-tiled margin-right-4">
         <span style="background-image:url(/static/img/icon/avatar_no_blue.png)"></span>
       </span>
       */
      var members = '';
      for(var i in result){
        members += createAvatar(result[i]);
      }
      $('.members-avatar').html(members);

    });//成员处理完毕

    // 再获取活动路线详情
    // 活动内容可能为空，所以要判断下
    // @2016/06/06
    if(articleID){
      console.log(articleID);
      $('.ui-loading-wrap').addClass('hidden');//隐藏进度条
      $.getJSON('/bf/api/vendors/{{ vendor_id }}/articles/'+articleID+'/paragraphs', function(result){
        console.log(result);
        var paragraphs = '';
        for(var i in result){
          var p = result[i];

          paragraphs += '<div class="m1">';
          paragraphs +=   p.content;
          paragraphs += '</div>';

        }
        // 添加到页面
        $('.routines').html(paragraphs);
      });
    }else{
      $('.ui-loading-wrap').addClass('hidden');//隐藏进度条
    }


    $('.join-wexin-group').click(function(){
      location.href = '/bf/wx/vendors/{{ vendor_id }}/activitys/' + activityID + '/qrcode';
    })

    $('.join-activity').click(function(){
      var phase = document.getElementById('phase').value;
      // 这个是jquery用法 @2016/06/13
      // var phase = $('#phase').val();
      // 报名中 or 已成行
      if (phase == "0" || phase == "1") {
        // redirect http for test(A计划公众号)
        location.href = '/bf/wx/vendors/{{ vendor_id }}/activitys/'+ activityID+'_{{guest_club_id}}/apply/step0'
        // redirect https for 沐雨户外公众号
      }

    });

  });


  </script>

</body>
</html>
