<!-- 移动端活动首页 -->
<!-- @2016/05/19 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <title>沐雨骑行</title>
  <!-- <script type="text/javascript" src="http://tajs.qq.com/stats?sId=37342703" charset="UTF-8"></script> -->
  <link rel="stylesheet" href="{{ static_url('frozenui-1.3.0/css/frozen.css') }}">
  <link rel="stylesheet" href="{{ static_url('customer/css/customer.css') }}">
</head>
<body ontouchstart>
  <!-- 加载热门活动数据进度条 -->
  <div class="ui-loading-wrap">
    <p>正在加载中...</p>
    <i class="ui-loading"></i>
  </div>
  <section id="slider">
    <div class="ui-slider customer-banner-height hidden">
      <ul class="ui-slider-content ">
        <li class="">
          <span style="background-image:url({{ static_url('customer/img/muyuqixing.jpg') }})"></span>
          <div class="slider-footer">
            沐雨骑行
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section>
    <div class="mod-recommend">
      <!-- <h4 class="common-header">
        <p class="common-header-title">活动分类</p>
      </h4> -->
      <ul>
        <!-- 分类项容器 -->
      </ul>
    </div>
  </section>

  <section>
    {% set phases = {'0':'招募中','1':'已成行','2':'已满员','3':'已结束'} %}
    {% set themes = {'0':'green','1':'orange','2':'red','3':'gray'} %}
    {% for activity in activitys %}
    <a href="/bf/wx/vendors/{{ vendor_id }}/activitys/{{activity['_id']}}">
      <div class="bot_con"><!--start of card-->
        <div class="imger">
          <img src="{{activity['bk_img_url']}}">
          <div class="bookmarks {{themes[activity['phase']]}}">{{phases[activity['phase']]}}</div>
          <span class="shadow-black">¥{{activity['amount']}}</span>
        </div>
        <div class="card-footer">
          <span class="card-footer-title">{{activity['title']}}</span>
          <span class="card-footer-title right"></span>
          <div class="card-footer-desc">
            <span>
              {% if activity['begin_time'] == activity['end_time'] %}
                {{activity['begin_time']}}
              {% else %}
                {{activity['begin_time']}} ~ {{activity['end_time']}}
              {% end %}
            </span>
            <span class="right">{{activity['distance']}}公里</span>
          </div>
        </div>
      </div><!--end of card-->
    </a>
    {% end %}
  </section>

  <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  <script src="{{ static_url('frozenui-1.3.0/lib/zepto.min.js') }}"></script>
  <script src="{{ static_url('frozenui-1.3.0/js/frozen.js') }}"></script>
  <script>
  /**
   * 移动端活动首页交互逻辑
   * by lwz7512@2016/05/18
   */
  $(function(){

    // 获取分类
    $.getJSON('/bf/api/vendors/{{ vendor_id }}/categorys', function(result){
      console.log(result);
      var items = '';
      for(var i in result){
        items += createCategoryItem(result[i]);
      }
      $('.mod-recommend ul').html(items);
    });

    // 先要获取热门活动
    $.getJSON('/bf/api/vendors/{{ vendor_id }}/activitys/popular', function(result){
      console.log(result);
      $('.ui-loading-wrap').addClass('hidden');
      $('.ui-slider').removeClass('hidden');

      var slides = '';
      for(var i in result){
        slides += createSlideBy(result[i]);
      }

      if(result.length>1){
        $('.ui-slider-content').html(slides);
      }else {
        $('.ui-slider-content').append(slides);
      }

      var slider = new fz.Scroll('.ui-slider', {
          role: 'slider',
          indicator: true,
          autoplay: true,
          interval: 3000
      });
    });

    /**
     * <li>
       <img src="/static/img/recommend1.png">
       <span class="recommend-info">沙漠</span>
     </li>
     */
    function createCategoryItem(item){
      var li = '<li data-id="'+item['_id']+'">';
          li +='  <img src="'+item['bk_img_url']+'">';
          li +='  <span class="recommend-info">'+item['title']+'</span>';
          li +='</li>';
      return li;
    }

    // 幻灯片格式：
    // <li>
    //  <span style="background-image:url(/static/img/tf1.jpg)"></span>
    //  <div class="slider-footer">
    //    第三张
    //  </div>
    // </li>
    // 详情地址：
    // /customer/activity/info?id=0a72b2801d9611e68aa86003089f4674

    // 生成幻灯片元素，包含可点击链接
    function createSlideBy(item){
      var li =  '<li><a href="/bf/wx/vendors/{{ vendor_id }}/activitys/' + item._id + '">';
          li += '<span style="background-image:url(';
          li +=   item.bk_img_url;
          li += ')"></span>'
          li += '<div class="slider-footer">';
          li +=   item.title;
          li += '</div>';
          li += '</a></li>';
      return li;
    }


  });

  </script>
</body>

</html>
