<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>活动订单</title>
  <link rel="stylesheet" href="{{ static_url('frozenui-1.3.0/css/frozen.css') }}">
  <link href="{{ static_url('customer/css/common.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ static_url('customer/css/actapply.css') }}" rel="stylesheet" type="text/css">
</head>
<body ontouchstart class="padding-bottom-70">
  <!-- 顶部卡片 -->
  <div class="white-bg padding-top-10 padding-bottom-10 margin-bottom-10 ">
    <ul class="ui-list ui-list-one ui-border-b">
      <li class="ui-border-t" >
        <div class="ui-list-thumb">
            <span style="background-image:url({{activity['bk_img_url']}})"></span>
        </div>
        <div class="ui-list-info none-box">
          <h4 class="ui-nowrap ">{{activity['title']}}</h4>
          <div class="ui-txt-info small-font margin-top-10 ">
            <span>
              {% if activity['begin_time'] == activity['end_time'] %}
                {{activity['begin_time']}}
              {% else %}
                {{activity['begin_time']}} ~ {{activity['end_time']}}
              {% end %}
            </span>
          </div>
        </div>
      </li>
    </ul>
    <ul class="ui-justify ui-whitespace margin-left-10 padding-top-10">
      <li><p>参加人数</p></li>
      <li>
        <p >
          <span class="ui-btn-s str-corner mini member-mns-btn">-</span>
          <span class="member-count ui-btn-s str-corner">1</span>
          <span class="ui-btn-s str-corner mini member-add-btn">+</span>
        </p>
      </li>
    </ul>
  </div>

  <!-- 报名表单 -->
  <form id="apply-form" method="POST"
    action="/bf/wxpay?vendor_id={{ vendor_id }}&activity_id={{activity['_id']}}&guest_club_id={{guest_club_id}}" >
    {% raw xsrf_form_html() %}

    <div class="white-bg margin-bottom-10 ui-border-tb">
      <div class="ui-form  margin-left-10 ui-border-tb">
        <div class="ui-form-item ">
            <label for="#">活动费用</label>
          </div>
      </div>
    </div>
    <div class="ui-whitespace maring-top-10">
      <p class="ui-txt-info font-normal ">
       基本服务
      </p>
    </div>
    <!-- 加载提示 -->
    <div class="ui-loading-wrap">
      <p>正在加载中...</p>
      <i class="ui-loading"></i>
    </div>
    <!-- 添加容器溢出控制 -->
    <div class="ui-form ui-border-t overflow-hidden appendbase">
      <!-- 动态添加内容 -->
    </div>

    <div class="ui-whitespace maring-top-10">
      <p class="ui-txt-info font-normal ">
        附加服务
      </p>
    </div>
    <!-- 加载提示 -->
    <div class="ui-loading-wrap">
      <p>正在加载中...</p>
      <i class="ui-loading"></i>
    </div>
    <!-- 添加容器溢出控制 -->
    <div class="ui-form ui-border-t overflow-hidden appendixsvs">
      <!-- 动态添加内容 -->
    </div>
    <div class="ui-whitespace maring-top-10">
      <p class="ui-txt-info font-normal ">
        保险选项
      </p>
    </div>
    <!-- 下面选项可能比较长，要将溢出部分处理不然出滚动条 -->
    <div class="ui-form ui-border-t overflow-hidden insurancecfg">
    </div>

    {% if activity['cash_only'] %}
        <div class="ui-whitespace maring-top-10">
          <p class="ui-txt-info font-normal ">
            代金券
          </p>
        </div>

        <div class="ui-whitespace maring-top-10">
          <p class="ui-txt-info font-normal ">
            积分
          </p>
        </div>
    {% else %}
        <div class="ui-whitespace maring-top-10">
          <p class="ui-txt-info font-normal ">
            代金券
          </p>
        </div>
        <div class="ui-form ui-border-t overflow-hidden voucherscfg">
        </div>

        <div class="ui-whitespace maring-top-10">
          <p class="ui-txt-info font-normal ">
            积分
          </p>
        </div>
        <div class="ui-form ui-border-t overflow-hidden bonuscfg">
        </div>
    {% end %}

    <div class="ui-whitespace maring-top-10">
      <p class="ui-txt-info font-normal ">
        免责声明
      </p>
    </div>
    <div class="ui-form ui-border-t ">
      <div class="ui-form-item ui-form-item-checkbox ui-border-b">
          <label class="ui-checkbox" >
              <input type="checkbox" name="exceptions" >
          </label>
          <p>我已阅读并同意 <a href="/bf/wx/vendors/{{ vendor_id }}/hha">活动协议以及免责条款</a></p>
      </div>
    </div>
  </form>

  <!-- 底部工具栏 -->
  <div class="ui-footer ui-footer-stable white ui-border-t ui-row-flex">
    <!-- <div class="ui-col ui-flex"></div> -->
    <!-- ui-flex ui-flex-align-center: 垂直居中 -->
    <div class="ui-col ui-col-2 ui-flex ui-flex-align-center ui-flex-pack-center">
      合计:￥
      <span class="total_fees">0.00</span>
    </div>
    <!-- ui-flex ui-flex-align-center ui-flex-pack-center: 垂直加水平居中 -->
    <div class="ui-col ui-flex ui-flex-align-center ui-flex-pack-center green mock-green-btn">
      <a id="wexin-pay-btn" class="ui-txt-white pay-btn full-width">确认订单</a>
    </div>
  </div>

  <!-- 选择协议对话窗口 -->
  <div class="ui-dialog">
    <div class="ui-dialog-cnt">
      <header class="ui-dialog-hd ui-border-b">
          <h3>温馨提示</h3>
          <!-- <i class="ui-dialog-close" data-role="button"></i> -->
      </header>
      <div class="ui-dialog-bd">
          <!-- <h4></h4> -->
          <div class="center">请阅读活动协议及免责条款，并在选项前打钩才能报名！</div>
      </div>
      <div class="ui-dialog-ft">
          <!-- <button type="button" data-role="button">取 消</button> -->
          <button type="button" data-role="button">确 认</button>
      </div>
    </div>
  </div>

  <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  <script src="{{ static_url('frozenui-1.3.0/lib/zepto.min.js') }}"></script>
  <script src="{{ static_url('frozenui-1.3.0/js/frozen.js') }}"></script>

  <!-- 活动编号 -->
	<script type='text/template', id='data-actID'>{{activity['_id']}}</script>

  <script>

  /**
   * 活动参加申请交互逻辑，主要是表单验证
   * 金额计算，动态生成服务项。。。
   *
   * by lwz7512@2016/05/20
   */
  $(function(){

    var defaultMemberCount = 1;
    var activityID = $('#data-actID').html();
    var actdetails;//活动详情，其中的金额计算要用到
    var insurancecfg;//取到的保险配置
    var customerProfile;//取到的个人信息(积分)选项
    var total_fees = 0;//订单总金额，实时计算而来

    // 获取活动详情，获取基本服务
    $.getJSON('/bf/api/vendors/{{ vendor_id }}/activitys/'+activityID, function(result){
      actdetails = result;//保存下来后面计算金额时用到
      // console.log(result);
      createBaseServiceItems(result['base_fee_template']);
      caculateTotalFees();
    });

    // 获取活动详情，主要是获取附加服务
    $.getJSON('/bf/api/vendors/{{ vendor_id }}/activitys/'+activityID, function(result){
      actdetails = result;//保存下来后面计算金额时用到
      // console.log(result);
      createServiceItems(result['ext_fee_template']);
      // 第一次默认计算订单金额
      caculateTotalFees();
    });

    // 获取个人(代金券)选项
    $.getJSON('/bf/api/vendors/{{ vendor_id }}/customer-profile/vouchers?status=1', function(result){
      voucherscfg = result;//保存下来后边计算时需要
      createVouchersItems(result);
      caculateTotalFees();//重新算一次
    });

    // 获取保险选项
    $.getJSON('/bf/api/vendors/{{ vendor_id }}/insurance-templates', function(result){
      insurancecfg = result;//保存下来后边计算时需要
      createInsuranceItems(result);
      caculateTotalFees();//重新算一次
    });

    // 获取个人信息(积分)选项
    $.getJSON('/bf/api/vendors/{{ vendor_id }}/customer-profile/my', function(result){
      customerProfile = result;//保存下来后边计算时需要
      createBonusItems(result);
      caculateTotalFees();//重新算一次
    });

    // 生成代金券选项
    function createVouchersItems(items){
      var innerHTML = '';
      for(var i in items){
        innerHTML += '<div class="ui-form-item ui-form-item-checkbox ui-border-b">';
        innerHTML += '  <label class="ui-checkbox" >';
        innerHTML += '    <input type="checkbox" name="vouchers" value="'+items[i]['_id']+'"';
        innerHTML += '      data-fee="'+items[i]['amount']+'">';
        innerHTML += '  </label>';
        innerHTML += '  <p class="near-full-width">';
        innerHTML += '    可用代金券抵';
        innerHTML += '    <span id="vouchers_label" class="flt-right">-'+items[i]['amount']+'元</span>';
        innerHTML += '  </p>';
        innerHTML += '</div>';
      }
      $('.voucherscfg').html(innerHTML);
    }

    // 生成积分选项
    function createBonusItems(item){
      var innerHTML = '';
        innerHTML += '<div class="ui-form-item ui-form-item-checkbox ui-border-b">';
        innerHTML += '  <label class="ui-checkbox" >';
        innerHTML += '    <input type="checkbox" name="bonus" value="'+item['remaining_points']+'"';
        innerHTML += '      data-fee="'+item['remaining_points']+'">';
        innerHTML += '  </label>';
        innerHTML += '  <p class="near-full-width">';
        innerHTML += '    可用积分抵';
        innerHTML += '    <span id="bonus_label" class="flt-right">-'+item['remaining_points']+'元</span>';
        innerHTML += '  </p>';
        innerHTML += '</div>';
      $('.bonuscfg').html(innerHTML);
    }

    // 生成保险选项
    function createInsuranceItems(items){
      var innerHTML = '';
      for(var i in items){
        innerHTML += '<div class="ui-form-item ui-form-item-checkbox ui-border-b">';
        innerHTML += '  <label class="ui-checkbox" >';
        innerHTML += '    <input type="checkbox" name="insurance" value="'+items[i]['_id']+'"';
        innerHTML += '      data-fee="'+items[i]['amount']+'" checked>';
        innerHTML += '  </label>';
        innerHTML += '  <p class="near-full-width">';
        innerHTML += '    <a>'+items[i]['title']+'</a>';
        innerHTML += '    <span class="flt-right">'+items[i]['amount']+'元</span>';
        innerHTML += '  </p>';
        innerHTML += '</div>';
      }
      $('.insurancecfg').html(innerHTML);
    }

    // 生成基本服务选项
    function createBaseServiceItems(items){
      $('.ui-loading-wrap').addClass('hidden');//隐藏进度条
      // console.log(items);
      var innerHTML = '';
      for(var i in items){
        innerHTML += '<div class="ui-form-item ui-form-item-checkbox ui-border-b">';
        innerHTML += '  <label class="ui-checkbox" >';
        if( i == 0){
          innerHTML += '    <input type="radio" name="base-service" value="'+items[i]['_id']+'"';
          innerHTML += '      data-fee="'+items[i]['fee']+'" checked>';
        }else{
          innerHTML += '    <input type="radio" name="base-service" value="'+items[i]['_id']+'"';
          innerHTML += '      data-fee="'+items[i]['fee']+'">';
        }
        innerHTML += '  </label>';
        innerHTML += '  <p class="near-full-width">';
        innerHTML += '    '+items[i]['name'];
        innerHTML += '    <span class="flt-right">'+items[i]['fee']+'元</span>';
        innerHTML += '  </p>';
        innerHTML += '</div>';
      }
      $('.appendbase').html(innerHTML);
    }

    // 生成附加服务选项
    function createServiceItems(items){
      $('.ui-loading-wrap').addClass('hidden');//隐藏进度条
      // console.log(items);
      var innerHTML = '';
      for(var i in items){
        innerHTML += '<div class="ui-form-item ui-form-item-checkbox ui-border-b">';
        innerHTML += '  <label class="ui-checkbox" >';
        innerHTML += '    <input type="checkbox" name="misc-service" value="'+items[i]['_id']+'"';
        innerHTML += '      data-fee="'+items[i]['fee']+'" checked>';
        innerHTML += '  </label>';
        innerHTML += '  <p class="near-full-width">';
        innerHTML += '    '+items[i]['name'];
        innerHTML += '    <span class="flt-right">'+items[i]['fee']+'元</span>';
        innerHTML += '  </p>';
        innerHTML += '</div>';
      }
      $('.appendixsvs').html(innerHTML);
    }

    // 计算订单金额
    function caculateTotalFees(){
      // 默认先以活动费用我基数
      // 使用已经保存的活动详情数据
      // total_fees = parseInt( Number(actdetails.amount)*100 * defaultMemberCount);
      total_fees = 0;

      // 累加基本费用
      $('.appendbase input[type="radio"]:checked').each(function(){
        var fee = Number( $(this).data('fee') );
        total_fees += parseInt( fee * 100 * defaultMemberCount);
      });

      // 累加附加费用
      $('.appendixsvs input[type="checkbox"]:checked').each(function(){
        var fee = Number( $(this).data('fee') );
        total_fees += parseInt( fee * 100 * defaultMemberCount);
      });
      // 累加保险费用
      $('.insurancecfg input[type="checkbox"]:checked').each(function(){
        var fee = Number( $(this).data('fee') );
        total_fees += parseInt( fee * 100 * defaultMemberCount);
      });

      // 减去代金券
      $('.voucherscfg input[type="checkbox"]:checked').each(function(){
        var fee = Number( $(this).data('fee') );
        total_fees -= parseInt( fee * 100);
        if (total_fees < 0) {
          total_fees = 0;
        }
      });

      var bonus_checked = false;
      // 计算是否使用积分
      $('.bonuscfg input[type="checkbox"]:checked').each(function(){
        var fee = Number( $(this).data('fee') );
        bonus_checked = true;
      });

      // 当前积分
      var bonus = parseInt( customerProfile['remaining_points'] );
      if (bonus_checked) {
        if (total_fees < bonus) {
          var use_bonus = total_fees;
          total_fees = 0;
          use_bonus = use_bonus / 100;

          var innerHTML = '';
          innerHTML += '<div class="ui-form-item ui-form-item-checkbox ui-border-b">';
          innerHTML += '  <label class="ui-checkbox" >';
          innerHTML += '    <input type="checkbox" name="bonus" value="' + use_bonus + '"';
          innerHTML += '      data-fee="' + use_bonus + '" checked>';
          innerHTML += '  </label>';
          innerHTML += '  <p class="near-full-width">';
          innerHTML += '    可用积分抵';
          innerHTML += '    <span class="flt-right">-' + use_bonus + '元</span>';
          innerHTML += '  </p>';
          innerHTML += '</div>';
          $('.bonuscfg').html(innerHTML);
        } else {
          total_fees = total_fees - bonus;
          var use_bonus = bonus;
          use_bonus = use_bonus / 100;

          var innerHTML = '';
          innerHTML += '<div class="ui-form-item ui-form-item-checkbox ui-border-b">';
          innerHTML += '  <label class="ui-checkbox" >';
          innerHTML += '    <input type="checkbox" name="bonus" value="' + use_bonus + '"';
          innerHTML += '      data-fee="' + use_bonus + '" checked>';
          innerHTML += '  </label>';
          innerHTML += '  <p class="near-full-width">';
          innerHTML += '    可用积分抵';
          innerHTML += '    <span class="flt-right">-' + use_bonus + '元</span>';
          innerHTML += '  </p>';
          innerHTML += '</div>';
          $('.bonuscfg').html(innerHTML);
        }
      } else {
        var use_bonus = bonus;
        use_bonus = use_bonus / 100;

        var innerHTML = '';
         innerHTML += '<div class="ui-form-item ui-form-item-checkbox ui-border-b">';
         innerHTML += '  <label class="ui-checkbox" >';
         innerHTML += '    <input type="checkbox" name="bonus" value="' + use_bonus + '"';
         innerHTML += '      data-fee="' + use_bonus + '">';
         innerHTML += '  </label>';
         innerHTML += '  <p class="near-full-width">';
         innerHTML += '    可用积分抵';
         innerHTML += '    <span class="flt-right">-' + use_bonus + '元</span>';
         innerHTML += '  </p>';
         innerHTML += '</div>';
         $('.bonuscfg').html(innerHTML);
      }

      total_fees = total_fees / 100;
      $('.total_fees').html(total_fees);
    }

    // ------ 微信支付提交 -------
    // 要动态添加字段
    $('#wexin-pay-btn').click(function(){
      // 成员数
      var members = $("<input>").attr("type", "hidden").attr("name", "applicant_num").val(defaultMemberCount);
      $('#apply-form').append(members);

      // 基本服务项
      var base_feeIDs = [];
      $('.appendbase input[type="radio"]:checked').each(function() {
         base_feeIDs.push($(this).val());
       });
      // 提交一个数组
      var base_fees = $("<input>").attr("type", "hidden").attr("name", "base_fees").val(JSON.stringify(base_feeIDs));
      $('#apply-form').append(base_fees);

      // 服务项
      var ext_feeIDs = [];
      $('.appendixsvs input[type="checkbox"]:checked').each(function() {
         ext_feeIDs.push($(this).val());
       });
      // 提交一个数组
      var ext_fees = $("<input>").attr("type", "hidden").attr("name", "ext_fees").val(JSON.stringify(ext_feeIDs));
      $('#apply-form').append(ext_fees);

      // 保险选项
      var insuranceIDs = [];
      $('.insurancecfg input[type="checkbox"]:checked').each(function(){
        insuranceIDs.push($(this).val());
      });
      // 保险选项也是id数组
      var insurances = $("<input>").attr("type", "hidden").attr("name", "insurances").val(JSON.stringify(insuranceIDs));
      $('#apply-form').append(insurances);

      // 代金券选项
      var vouchersArray = [];
      $('.voucherscfg input[type="checkbox"]:checked').each(function(){
        vouchersArray.push($(this).val());
      });
      // 代金券选项对应的是数值数组
      var vouchers = $("<input>").attr("type", "hidden").attr("name", "vouchers").val(JSON.stringify(vouchersArray));
      $('#apply-form').append(vouchers);

      // 积分选项
      var bonusArray = [];
      $('.bonuscfg input[type="checkbox"]:checked').each(function(){
        bonusArray.push($(this).val());
      });
      // 积分选项对应的是数值数组
      var bonus = $("<input>").attr("type", "hidden").attr("name", "bonus").val(JSON.stringify(bonusArray));
      $('#apply-form').append(bonus);

      // 总金额
      var total_amount = $("<input>").attr("type", "hidden").attr("name", "total_amount").val(total_fees);
      $('#apply-form').append(total_amount);

      // 校验是否选择了免责协议
      // @2016/06/01
      var agreementChecked = $('input[name="exceptions"]:checked').length;
      if(!agreementChecked){
        // 弹出提示窗口
        $(".ui-dialog").dialog("show");
        return;
      }

      // 现在可以提交了
      $('#apply-form').submit();

      return false;//防止自动提交
    });

    $('.member-mns-btn').click(function(){
      if(defaultMemberCount==1) return;

      defaultMemberCount --;
      $('.member-count').html(defaultMemberCount);
      // 重新计算
      caculateTotalFees();
    });

    $('.member-add-btn').click(function(){
      defaultMemberCount ++;
      $('.member-count').html(defaultMemberCount);
      // 重新计算
      caculateTotalFees();
    });

    // 点选项重新计算
    $('.appendbase').click(function(){
      caculateTotalFees();
    });

    // 点选项重新计算
    $('.appendixsvs').click(function(){
      caculateTotalFees();
    });

    // 点选项重新计算
    $('.insurancecfg').click(function(){
      caculateTotalFees();
    });

    // 点选项重新计算
    $('.voucherscfg').click(function(){
      caculateTotalFees();
    });

    // 点选项重新计算
    $('.bonuscfg').click(function(){
      caculateTotalFees();
    });

  // -------- 模拟的按钮交互效果 -------
  // 必须使用触摸事件，不然没有反馈
  // @2016/05/30
    $('.mock-green-btn').on('touchstart', function(){
      $(this).addClass('deep');
    });
    $('.mock-green-btn').on('touchend', function(){
      $(this).removeClass('deep');
    });
  // -------- end of mockbtn --------
  });

  </script>
</body>

</html>
