<!-- 展示并获取当前活动的二维码 -->
<!-- @2016/05/27 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>活动二维码</title>
  <link rel="stylesheet" type="text/css" href="{{ static_url('frozenui-1.3.0/css/frozen.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ static_url('customer/css/common.css') }}">
</head>
<body ontouchstart class="padding-bottom-70">
  <div class="ui-whitespace maring-top-10">
    <p class="ui-txt-info font-normal center">
      欢迎加入微信群：{{activity['title']}}
    </p>
  </div>
  <div class="ui-flex ui-flex-pack-center padding-10">
    <img src="{{activity['wx_qrcode_url']}}" width="200" height="200">
  </div>
  <div class="ui-whitespace padding-10">
    <p class="ui-txt-info center">长按二维码加入活动微信群</p>
  </div>
  <script src="{{ static_url('frozenui-1.3.0/lib/zepto.min.js') }}"></script>
  <script src=""></script>
</body>
