<!-- 我的订单 -->
<!-- @2016/06/07 -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>我的订单</title>

  <link rel="stylesheet" href="{{ static_url('css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ static_url('light7/css/light7.min.css') }}">
  <link rel="stylesheet" href="{{ static_url('light7/css/light7-swiper.min.css') }}">

  <!-- customer css files -->
  <link rel="stylesheet" href="{{ static_url('customer/css/assem-self.css') }}">

  <!--include Vux style-->
  <link rel="stylesheet" href="{{ static_url('vux/dist/vux.css') }}">
  <!--include Vue yourself-->
  <script src="{{ static_url('vux/vue.js') }}"></script>
  <!--include the components you need-->
  <script src="{{ static_url('vux/dist/components/rater/index.js') }}"></script>

<!--
  <link rel="stylesheet" href="{{ static_url('suimobile/css/sm.css') }}">
  <link rel="stylesheet" href="{{ static_url('suimobile/css/sm-extend.css') }}">
  <link rel="stylesheet" href="{{ static_url('suimobile/css/demos.css') }}">

  <script src="{{ static_url('suimobile/js/zepto.js') }}"></script>
  <script src="{{ static_url('suimobile/js/config.js') }}"></script>
-->

</head>

<body>
  <!-- page集合的容器，里面放多个平行的.page，其他.page作为内联页面由路由控制展示 -->
  <div class="page-group">
    <!-- 单个page ,第一个.page默认被展示-->
    <div class="page page-current">
      <!-- 这里是页面内容区 -->
      <div class="content">

        <div class="buttons-tab fixed-tab" data-offset="0">
          <a href="/bf/wx/vendors/{{ vendor_id }}/pc/orders?tab=1" class="tab-link {% if tab == 1 %}active{% end %} button" id="tab1">待付款</a>
          <a href="/bf/wx/vendors/{{ vendor_id }}/pc/orders?tab=2" class="tab-link {% if tab == 2 %}active{% end %} button" id="tab2">待填报</a>
          <a href="/bf/wx/vendors/{{ vendor_id }}/pc/orders?tab=3" class="tab-link {% if tab == 3 %}active{% end %} button" id="tab3">待骑行</a>
          <a href="/bf/wx/vendors/{{ vendor_id }}/pc/orders?tab=4" class="tab-link {% if tab == 4 %}active{% end %} button" id="tab4">待评价</a>
          <a href="/bf/wx/vendors/{{ vendor_id }}/pc/orders?tab=0" class="tab-link {% if tab == 0 %}active{% end %} button" id="tab0">全部</a>
        </div>

        <div class="tabs">

          <div id="tab1" class="tab {% if tab == 1 %}active{% end %}">
            <div class="list-block media-list">
              <ul>
{% for order in orders %}
  {% if order['status'] == 20 %}
                <li>
                  <a href="/bf/wx/vendors/{{ vendor_id }}/pc/orders/{{ order['_id'] }}" class="item-link item-content">
                    <div class="item-media"><img src="{{ order['activity_bk_img_url'] }}" style='width: 5rem;'></div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-after">{{ order['create_time'] }}</div>
                      </div>
                      <div class="item-subtitle">{{ order['activity_title'] }}</div>
                      {% if order['status'] == 10 %}
                        <span class="flt-right-30">下单失败</span>
                      {% elif order['status'] == 20 %}
                        <span class="flt-right-30 red">待付款</span>
                      {% elif order['status'] == 30 %}
                        <span class="flt-right-30 red">待填报</span>
                      {% elif order['status'] == 31 %}
                        <span class="flt-right-30">支付失败</span>
                      {% elif order['status'] == 50 %}
                        <span class="flt-right-30">待骑行</span>
                      {% elif order['status'] == 60 %}
                        <span class="flt-right-30">待评价</span>
                      {% elif order['status'] == 70 %}
                        <span class="flt-right-30">活动完成</span>
                      {% end %}
                      <div class="item-text">{{ order['total_amount'] }}元</div>
                    </div>
                  </a>
                </li>
  {% end %}
{% end %}
              </ul>
            </div>
          </div> <!-- tab1 -->

          <div id="tab2" class="tab {% if tab == 2 %}active{% end %}">
            <div class="list-block media-list">
              <ul>
{% for order in orders %}
  {% if order['status'] == 30 %}
                <li>
                  <a href="/bf/wx/vendors/{{ vendor_id }}/pc/orders/{{ order['_id'] }}" class="item-link item-content">
                    <div class="item-media"><img src="{{ order['activity_bk_img_url'] }}" style='width: 5rem;'></div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-after">{{ order['create_time'] }}</div>
                      </div>
                      <div class="item-subtitle">{{ order['activity_title'] }}</div>
                      {% if order['status'] == 10 %}
                        <span class="flt-right-30">下单失败</span>
                      {% elif order['status'] == 20 %}
                        <span class="flt-right-30 red">待付款</span>
                      {% elif order['status'] == 30 %}
                        <span class="flt-right-30 red">待填报</span>
                      {% elif order['status'] == 31 %}
                        <span class="flt-right-30">支付失败</span>
                      {% elif order['status'] == 50 %}
                        <span class="flt-right-30">待骑行</span>
                      {% elif order['status'] == 60 %}
                        <span class="flt-right-30">待评价</span>
                      {% elif order['status'] == 70 %}
                        <span class="flt-right-30">活动完成</span>
                      {% end %}
                      <div class="item-text">{{ order['total_amount'] }}元</div>
                    </div>
                  </a>
                </li>
  {% end %}
{% end %}
              </ul>
            </div>
          </div> <!-- tab2 -->

          <div id="tab3" class="tab {% if tab == 3 %}active{% end %}">
            <div class="list-block media-list">
              <ul>
{% for order in orders %}
  {% if order['status'] == 50 %}
                <li>
                  <a href="/bf/wx/vendors/{{ vendor_id }}/pc/orders/{{ order['_id'] }}" class="item-link item-content">
                    <div class="item-media"><img src="{{ order['activity_bk_img_url'] }}" style='width: 5rem;'></div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-after">{{ order['create_time'] }}</div>
                      </div>
                      <div class="item-subtitle">{{ order['activity_title'] }}</div>
                      {% if order['status'] == 10 %}
                        <span class="flt-right-30">下单失败</span>
                      {% elif order['status'] == 20 %}
                        <span class="flt-right-30 red">待付款</span>
                      {% elif order['status'] == 30 %}
                        <span class="flt-right-30 red">待填报</span>
                      {% elif order['status'] == 31 %}
                        <span class="flt-right-30">支付失败</span>
                      {% elif order['status'] == 50 %}
                        <span class="flt-right-30">待骑行</span>
                      {% elif order['status'] == 60 %}
                        <span class="flt-right-30">待评价</span>
                      {% elif order['status'] == 70 %}
                        <span class="flt-right-30">活动完成</span>
                      {% end %}
                      <div class="item-text">{{ order['total_amount'] }}元</div>
                    </div>
                  </a>
                </li>
  {% end %}
{% end %}
              </ul>
            </div>
          </div> <!-- tab3 -->


          <div id="tab4" class="tab {% if tab == 4 %}active{% end %}">
            <div class="list-block media-list">
              <ul>
{% for order in orders %}
  {% if order['status'] == 60 %}
                <li>
                  <a href="/bf/wx/vendors/{{ vendor_id }}/pc/orders/{{ order['_id'] }}" class="item-link item-content">
                    <div class="item-media"><img src="{{ order['activity_bk_img_url'] }}" style='width: 5rem;'></div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-after">{{ order['create_time'] }}</div>
                      </div>
                      <div class="item-subtitle">{{ order['activity_title'] }}</div>
                      {% if order['status'] == 10 %}
                        <span class="flt-right-30">下单失败</span>
                      {% elif order['status'] == 20 %}
                        <span class="flt-right-30 red">待付款</span>
                      {% elif order['status'] == 30 %}
                        <span class="flt-right-30 red">待填报</span>
                      {% elif order['status'] == 31 %}
                        <span class="flt-right-30">支付失败</span>
                      {% elif order['status'] == 50 %}
                        <span class="flt-right-30">待骑行</span>
                      {% elif order['status'] == 60 %}
                        <span class="flt-right-30">待评价</span>
                      {% elif order['status'] == 70 %}
                        <span class="flt-right-30">活动完成</span>
                      {% end %}
                      <div class="item-text">{{ order['total_amount'] }}元</div>
                    </div>
                  </a>
                </li>
  {% end %}
{% end %}
              </ul>
            </div>
          </div> <!-- tab4 -->

          <div id="tab0" class="tab {% if tab == 0 %}active{% end %}">
            <div class="list-block media-list">
              <ul>
{% for order in orders %}
                <li>
                  <a href="/bf/wx/vendors/{{ vendor_id }}/pc/orders/{{ order['_id'] }}" class="item-link item-content">
                    <div class="item-media"><img src="{{ order['activity_bk_img_url'] }}" style='width: 5rem;'></div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-after">{{ order['create_time'] }}</div>
                      </div>
                      <div class="item-subtitle">{{ order['activity_title'] }}</div>
                      {% if order['status'] == 10 %}
                        <span class="flt-right-30">下单失败</span>
                      {% elif order['status'] == 20 %}
                        <span class="flt-right-30 red">待付款</span>
                      {% elif order['status'] == 30 %}
                        <span class="flt-right-30 red">待填报</span>
                      {% elif order['status'] == 31 %}
                        <span class="flt-right-30">支付失败</span>
                      {% elif order['status'] == 50 %}
                        <span class="flt-right-30">待骑行</span>
                      {% elif order['status'] == 60 %}
                        <span class="flt-right-30">待评价</span>
                      {% elif order['status'] == 70 %}
                        <span class="flt-right-30">活动完成</span>
                      {% end %}
                      <div class="item-text">{{ order['total_amount'] }}元</div>
                    </div>
                  </a>
                </li>
{% end %}
              </ul>
            </div>
          </div> <!-- tab0 -->

        </div> <!-- tabs -->

      </div> <!-- content -->
    </div> <!-- page -->
  </div> <!-- page-group -->

  <script type='text/javascript' src='{{ static_url("light7/js/light7.min.js") }}' charset='utf-8'></script>
  <script type='text/javascript' src='{{ static_url("light7/js/light7-swiper.min.js") }}' charset='utf-8'></script>
  <script type='text/javascript' src='{{ static_url("light7/js/i18n/cn.js") }}' charset='utf-8'></script>

  <script type='text/javascript' src='{{ static_url("admin/js/jquery.min.js") }}' charset='utf-8'></script>


  <!-- customer js files -->
  <script type='text/javascript' src='{{ static_url("js/bf-app.js") }}' charset='utf-8'></script>

<!--
  <script>
    //打开自动初始化页面的功能
    //建议不要打开自动初始化，而是自己调用 $.init 方法完成初始化
    $.config = {
      autoInit: true
    }
  </script>

  <script src="{{ static_url('suimobile/js/sm.js') }}"></script>
  <script src="{{ static_url('suimobile/js/sm-extend.js') }}"></script>
  <script src="{{ static_url('suimobile/js/sm-city-picker.js') }}"></script>

  <script>$.init()</script>
-->
</body>
</html>
