<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>报名信息</title>
  <link rel="stylesheet" href="{{ static_url('frozenui-1.3.0/css/frozen.css') }}">
  <link href="{{ static_url('customer/css/common.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ static_url('customer/css/actapply.css') }}" rel="stylesheet" type="text/css">
</head>
<body ontouchstart class="padding-bottom-70">

  <div class="">
    {% for apply in applys %}
       <div class="ui-whitespace maring-top-10">
         <p class="ui-txt-info font-normal ">
           参加人员
         </p>
       </div>
       <div class="ui-whitespace ui-border-t applicant">
         <!-- 表单项开始 -->
         <div class="ui-form-item ui-border-b">
           <label>真实姓名</label>
           <input type="text" name="name" value="{{ apply['name'] }}">
         </div>
         <div class="ui-form-item ui-border-b">
           <label>性别</label>
           <div class="ui-select">
             <select name="gender">
               {% if apply['gender'] == 'male' %}
               <option value="male" selected="selected">男</option>
               <option value="female">女</option>
               {% else %}
               <option value="male">男</option>
               <option value="female" selected="selected">女</option>
               {% end %}
             </select>
           </div>
         </div>
         <div class="ui-form-item ui-border-b">
           <label class="ui-border-r">身份证号码</label>
           <input type="text" name="id_code" value="{{ apply['id_code'] }}">
         </div>
         <!--
         <div class="ui-form-item ui-border-b">
           <label class="ui-border-r">出生年月</label>
           <input type="text" name="birth_day" placeholder="格式：YYYY-MM-DD">
         </div>
       -->
         <div class="ui-form-item ui-border-b">
           <label class="ui-border-r">身高(cm)</label>
           <input type="number" name="height" value="{{ apply['height'] }}">
         </div>
         <div class="ui-form-item ui-border-b">
           <label class="ui-border-r">手机号码</label>
           <input type="number" name="phone" value="{{ apply['phone'] }}">
         </div>
         <div class="ui-form-item ui-form-item-textarea ui-border-b">
           <label class="ui-border-r">备注说明</label>
           <textarea name="note" maxlength="50">{{ apply['note'] }}</textarea>
         </div>

       </div>
    {% end %}
  </div>

  <script src="{{ static_url('frozenui-1.3.0/lib/zepto.min.js') }}"></script>
  <script src="{{ static_url('frozenui-1.3.0/js/frozen.js') }}"></script>

</body>
</html>
