<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>评价</title>
  <link rel="stylesheet" href="{{ static_url('frozenui-1.3.0/css/frozen.css') }}">
  <link href="{{ static_url('customer/css/common.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ static_url('customer/css/actapply.css') }}" rel="stylesheet" type="text/css">

  <!--include Vux style-->
  <link rel="stylesheet" href="{{ static_url('vux/dist/vux.css') }}">
  <!--include Vue yourself-->
  <script src="{{ static_url('vux/vue.js') }}"></script>
  <!--include the components you need-->
  <script src="{{ static_url('vux/dist/components/rater/index.js') }}"></script>

</head>
<body ontouchstart class="padding-bottom-70">
    <!-- top panel -->
    <div class="ui-whitespace top-pane ui-flex ui-flex-pack-center ui-flex-align-center">
    </div>

    <form id="eval-form" method="POST"
      action="/bf/wx/vendors/{{ vendor_id }}/pc/orders/{{ order['_id'] }}/evaluate" >
      {% raw xsrf_form_html() %}
      <!-- 详情 -->
      <!-- <div class="ui-whitespace ui-border-t applicant">
        <div class="ui-form-item ui-border-b">
          <label>评价内容</label>
          <input type="text" name="content" value="good">
        </div>

        <div class="ui-form-item ui-border-b">
          <label>打分</label>
          <input type="text" name="score" value="10">
        </div>
      </div> -->
      <ul class="ui-list ui-list-text ui-border-tb padding-top-10">
        <li class="ui-border-t">
            <p>请选择星星评分:</p>
        </li>
        <li class="ui-border-t">
          <div id="star_score">
            <rater :value.sync="rate"></rater>
            <div id="result_score" v-text="rate" style="display:none"></div>
            <input type="hidden" id="score" name="score" value="10">
          </div>
        </li>
        <li class="ui-border-t ui-form-item-textarea">
            <textarea id="content" name="content" rows="3" placeholder="说说你的看法"></textarea>
        </li>
      </ul>

    </from>

    <!-- 底部工具栏 -->
    <div class="ui-footer ui-footer-stable white ui-border-t ui-row-flex">
      <!-- <div class="ui-col ui-flex"></div> -->
      <!-- ui-flex ui-flex-align-center: 垂直居中 -->
      <div class="ui-col ui-col-2 ui-flex ui-flex-align-center ui-flex-pack-center">

      </div>
      <!-- ui-flex ui-flex-align-center ui-flex-pack-center: 垂直加水平居中 -->
      <div class="ui-col ui-flex ui-flex-align-center ui-flex-pack-center green mock-green-btn">
          <a id="order-confirm-btn" onclick="confirm();" class="ui-txt-white pay-btn full-width">确认评价</a>
      </div>
    </div>

  <script src="{{ static_url('frozenui-1.3.0/lib/zepto.min.js') }}"></script>
  <script src="{{ static_url('frozenui-1.3.0/js/frozen.js') }}"></script>
  <script>
    // register components
    Vue.component('rater', vuxRater)
    // register filters
    new Vue({
      el: '#star_score',
      data: {
          rate:5
      }
    })

    function confirm(){
      var resultScore = document.getElementById("result_score").innerHTML;
      var hiddenScoreInput = document.getElementById("score");
      var score = Number(resultScore) * 2;
      hiddenScoreInput.value = score;
      // console.log(hiddenScoreInput.value);
      $("#eval-form").submit();
    }
  </script>
</body>
</html>
