<!-- 订单确认页，在本页查看订单详情，并提交微信支付 -->
<!-- @2016/06/06 -->
<!-- 不转义处理，这样页面json就能正常被解析 -->
{% autoescape None %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>确认订单</title>
  <link rel="stylesheet" type="text/css" href="{{ static_url('frozenui-1.3.0/css/frozen.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ static_url('customer/css/common.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ static_url('customer/css/odrconfirm.css') }}">
</head>
<body ontouchstart class="padding-bottom-70">
  <!-- top panel -->
  <div class="ui-whitespace top-pane ui-flex ui-flex-pack-center ui-flex-align-center">
    <div>确认订单</div>
    <p>{{order_return['return_msg']}}</p>
  </div>
  <!-- 活动摘要 -->
  <div class="white-bg padding-top-10 padding-bottom-10 margin-bottom-10 ">
    <!-- 下面这个加 margin-left 父容器必须加: overflow-hidden -->
    <div class="ui-whitespace  ui-flex">
       <div class="line-hight-nml ">
         <img src="{{activity['bk_img_url']}}" class="thumbnail ">
       </div>
       <div class="right-item-info">
         <p class="ui-txt-default ">{{activity['title']}}</p>
         <p class="ui-txt-info maring-top-10 small-font">
           {% if activity['begin_time'] == activity['end_time'] %}
             {{activity['begin_time']}}
           {% else %}
             {{activity['begin_time']}} ~ {{activity['end_time']}}
           {% end %}
         </p>
       </div>
    </div>
  </div>
  <!-- 详情 -->
  <div class="ui-whitespace maring-top-10">
    <p class="ui-txt-info font-normal ">
      订单详情
    </p>
  </div>
  <!-- 加载提示 -->
  <div class="ui-loading-wrap">
    <p>正在加载中...</p>
    <i class="ui-loading"></i>
  </div>
  <div class="white-bg padding-top-10 padding-bottom-10 margin-bottom-10 overflow-hidden">
    <div class="ui-whitespace font-normal">
      <p class="ui-txt-default higher">参加人数：<span class="applicant_num flt-right">0</span></p>
      <p class="ui-txt-default higher">基础费用：<span class="flt-right">{{order_index['activity_amount']}}元/人</span></p>
      <div class="ui-txt-default higher">附加服务：</div>
      <div class="ui-txt-info ui-txt-justify extserv-items"></div>
      <div class="ui-txt-default higher">保险：</div>
      <div class="ui-txt-info ui-txt-justify insurance-items"></div>
      <div class="ui-txt-default higher">代金券：</div>
      <div class="ui-txt-info ui-txt-justify vouchers-items"></div>
      <div class="ui-txt-default higher">积分：</div>
      <div class="ui-txt-info ui-txt-justify bonus-items"></div>
    </div>
  </div>

  <!-- 底部工具栏 -->
  <div class="ui-footer ui-footer-stable white ui-border-t ui-row-flex">
    <!-- <div class="ui-col ui-flex"></div> -->
    <!-- ui-flex ui-flex-align-center: 垂直居中 -->
    <div class="ui-col ui-col-2 ui-flex ui-flex-align-center ui-flex-pack-center">
      合计:￥
      <span class="total_fees">{{ order_index['actual_payment'] }}</span>
    </div>
    <!-- ui-flex ui-flex-align-center ui-flex-pack-center: 垂直加水平居中 -->
    <div class="ui-col ui-flex ui-flex-align-center ui-flex-pack-center green mock-green-btn">
      {% if order_index['actual_payment'] == 0 %}
        <a id="wexin-pay-btn" onclick="callpay();" class="ui-txt-white pay-btn full-width">填写报名</a>
      {% else %}
        <a id="wexin-pay-btn" onclick="callpay();" class="ui-txt-white pay-btn full-width">微信支付</a>
      {% end %}
    </div>
  </div>

  <script src="{{ static_url('frozenui-1.3.0/lib/zepto.min.js') }}"></script>
  <script src="{{ static_url('admin/js/jquery.min.js') }}"></script>
  <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>

  <!-- 该活动的服务模板 -->
  <script type='text/template', id='data-sevtmpl'>{{activity['json_serv_tmpls']}}</script>
  <!-- 订单 -->
	<script type='text/template', id='data-ordID'>{{ order_index['_id'] }}</script>

  <script>
  	//调用微信JS api 支付
  	function jsApiCall() {
  		WeixinJSBridge.invoke(
  			'getBrandWCPayRequest',
  			{
  				"appId":"{{order_return['app_id']}}",     //公众号名称，由商户传入
  			  "timeStamp":"{{order_return['timestamp']}}",         //时间戳，自1970年以来的秒数
  			  "nonceStr":"{{order_return['nonce_str']}}", //随机串
  			  "package":"prepay_id={{order_return['prepay_id']}}",
  			  "signType":"MD5",         //微信签名方式：
  			  "paySign":"{{order_return['pay_sign']}}" //微信签名
  			},
  			function(res){
  				WeixinJSBridge.log(res.err_msg);
  				if (res.err_msg == "get_brand_wcpay_request:ok") {
  					// 使用以上方式判断前端返回,微信团队郑重提示：
  				  // res.err_msg将在用户支付成功后返回 ok，
  				  // 但并不保证它绝对可靠。
  				 	//	alert("支付成功!");
  				 	//WeixinJSBridge.call('closeWindow');
            location.href = "/bf/wx/vendors/{{ vendor_id }}/activitys/{{activity['_id']}}/apply/step3?order_id={{order_index['_id']}}";
  				} else if (res.err_msg == "get_brand_wcpay_request:cancel") {
  				 	//	alert("用户取消支付!");
  				} else {
  				 	//	alert("支付失败!");
  				 	WeixinJSBridge.call('closeWindow');
  				}
  			}
  		);
  	}

  	function callpay() {
      if ({{ order_index['actual_payment'] }} == 0) {
        location.href = "/bf/wx/vendors/{{ vendor_id }}/activitys/{{activity['_id']}}/apply/step3?order_id={{order_index['_id']}}";
      } else {
  		  if (typeof WeixinJSBridge == "undefined"){
  	   		if( document.addEventListener ) {
  	       	document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
  	   		} else if (document.attachEvent) {
  	       	document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
  	       	document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
  	   		}
  		  } else {
  			  jsApiCall();
  		  }
      }
  	}
  </script>

  <script>

  /**
   * 订单确认逻辑：
   * 显示订单详情、提交微信支付
   * @2016/06/06
   */
  $(function(){

    var order;//取到的订单详情
    var insurancecfg;//取到的保险配置

    // 活动编号
    var actID = $('#data-actID').html();
    // 添加成员的页面所属元素
    var orderID = $('#data-ordID').html();
    // 当前活动所定义的所有附加服务
    var services = $('#data-sevtmpl').html();
    var serviceMap = {};

    if(services) {
      services = JSON.parse(services);
      // console.log(services);
      for(var i in services){
        // services[i]['name'] + ' : ' + services[i]['fee'] + '元';
        serviceMap[services[i]['_id']] = {name: services[i]['name'], fee: services[i]['fee']};
      }
    }


    // 根据订单申请人数来创建表单
    $.getJSON('/bf/api/vendors/{{ vendor_id }}/orders/'+orderID, function(result){
      // 保存订单到全局，后面用
      order = result;
      // console.log(result);

      $('.ui-loading-wrap').addClass('hidden');
      // 人数
      $('.applicant_num').html(order.quantity+'人');
      // 总金额
      $('.total_fees').html(order.actual_payment);
      // 购买的附加服务
      var ext_fees = order['ext_fees'];
      for(var i in ext_fees){
         var inrHTML = '<p class="padding-left-10">'
          +ext_fees[i].name
          +'<span class="flt-right">'
          +ext_fees[i].fee
          +'元</span></p>';
        $('.extserv-items').append(inrHTML);
      }

      // 获取保险选项，并与订单中的配置比较显示
      var insurances = order['insurances'];
      for(var i in insurances){
        var inrHTML = '<p class="padding-left-10">'
          +insurances[i].name
          +'<span class="flt-right">'
          +insurances[i].fee
          +'元</span></p>';
        $('.insurance-items').append(inrHTML);
      }

      // 获取代金券选项，并与订单中的配置比较显示
      var vouchers = order['vouchers'];
      for(var i in vouchers){
        var inrHTML = '<p class="padding-left-10">'
          +'使用代金券抵'
          +'<span class="flt-right">-'
          +vouchers[i].fee
          +'元</span></p>';
        $('.vouchers-items').append(inrHTML);
      }

      // 获取积分选项，并与订单中的配置比较显示
      var bonus = order['points_used'];
      if (bonus < 0) {
        var inrHTML = '<p class="padding-left-10">'
          +'使用积分抵'
          +'<span class="flt-right">'
          +bonus
          +'元</span></p>';
        $('.bonus-items').append(inrHTML);
      }
    });


    // TODO: 添加微信支付按钮点击交互动作
  //  $('#wexin-pay-btn').click(function(){
  //    location.href = '/bike-forever/wechat/apply/action2?id='+actID+'&order_id='+orderID;
  //  });

    // -------- 模拟的按钮交互效果 -------
    // 必须使用触摸事件，不然没有反馈
    // @2016/05/30
      $('.mock-green-btn').on('touchstart', function(){
        $(this).addClass('deep');
      });
      $('.mock-green-btn').on('touchend', function(){
        $(this).removeClass('deep');
      });
    // -------- end of mockbtn --------


  });


  </script>
</body>
