<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>我的</title>
    <meta name="description" content="MSUI: Build mobile apps with simple HTML, CSS, and JS components.">
    <meta name="author" content="个人中心">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="{{ static_url('css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('light7/css/light7.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('light7/css/light7-swiper.min.css') }}">

    <!-- customer css files -->
    <link rel="stylesheet" href="{{ static_url('customer/css/assem-self.css') }}">

    <!--include Vux style-->
    <link rel="stylesheet" href="{{ static_url('vux/dist/vux.css') }}">
    <!--include Vue yourself-->
    <script src="{{ static_url('vux/vue.js') }}"></script>
    <!--include the components you need-->
    <script src="{{ static_url('vux/dist/components/rater/index.js') }}"></script>

<!--
    <link rel="stylesheet" href="{{ static_url('suimobile/css/sm.css') }}">
    <link rel="stylesheet" href="{{ static_url('suimobile/css/sm-extend.css') }}">
    <link rel="stylesheet" href="{{ static_url('customer/css/assem-self.css') }}">

    <script src="{{ static_url('suimobile/js/zepto.js') }}"></script>
    <script src="{{ static_url('suimobile/js/config.js') }}"></script>
-->
  </head>

    <body>
      <!-- page集合的容器，里面放多个平行的.page，其他.page作为内联页面由路由控制展示 -->
      <div class="page-group">
        <!-- 单个page ,第一个.page默认被展示-->
        <div class="page page-current">

          <!-- 这里是页面内容区 -->
          <div class="content">

            <div class="row no-gutter main">
              <div class="col-80">
                <a><img class="avator" src="{{ profile['account_avatar'] }}"></a>
                <a><span class="vip-name">{{ profile['account_nickname'] }}</span></a>
              </div>
              <div class="col-20">
                <div class="vip">L{{ profile['rank'] }}会员</div>
              </div>
            </div>

            <div class="separator-block" />

            <div class="list-block media-list">
                <ul>
                  <li>
                    <a href="/bf/wx/vendors/{{ vendor_id }}/pc/orders?tab=0" class="item-link item-content">
                      <div class="item-inner">
                        <div class="item-title-row">
                          <div class="item-title">我的订单</div>
                          <div class="item-after">查看全部订单</div>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
            </div>

            <div class="content-padded no-border-grid-panel">
              <div class="row no-gutter">
                <div class="col-25">
                  <a href="/bf/wx/vendors/{{ vendor_id }}/pc/orders?tab=1">
                  <div href="/bf/wx/vendors/{{ vendor_id }}/pc/orders?tab=1" class="item-link item-content">
                    <div class="item-media"><img src="{{ static_url( 'customer/img/payment.png' ) }}" style='width: 1.6rem;'></div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">待付款</div>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
                <div class="col-25">
                  <a href="/bf/wx/vendors/{{ vendor_id }}/pc/orders?tab=2">
                  <div href="/bf/wx/vendors/{{ vendor_id }}/pc/orders?tab=2" class="item-link item-content">
                    <div class="item-media"><img src="{{ static_url( 'customer/img/apply.png' ) }}" style='width: 1.6rem;'></div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">待填报</div>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
                <div class="col-25">
                  <a href="/bf/wx/vendors/{{ vendor_id }}/pc/orders?tab=3">
                  <div href="/bf/wx/vendors/{{ vendor_id }}/pc/orders?tab=3" class="item-link item-content">
                    <div class="item-media"><img src="{{ static_url( 'customer/img/van.png' ) }}" style='width: 1.6rem;'></div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">待骑行</div>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
                <div class="col-25">
                  <a href="/bf/wx/vendors/{{ vendor_id }}/pc/orders?tab=4">
                  <div href="/bf/wx/vendors/{{ vendor_id }}/pc/orders?tab=4" class="item-link item-content">
                    <div class="item-media"><img src="{{ static_url( 'customer/img/evaluation.png' ) }}" style='width: 1.6rem;'></div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">待评价</div>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>

            <div class="separator-block" />

            <div class="content-padded grid-panel">
              <a href="/bf/wx/vendors/{{ vendor_id }}/pc/tasks">
              <div class="row no-gutter">
                <div class="col-25">
                  <div href="#" class="item-link item-content">
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">任务</div>
                      </div>
                    </div>
                    <div class="item-media"><img src="{{ static_url( 'customer/img/level.png' ) }}" style='width: 1.6rem;'></div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">{{ profile['tasks'] }}</div>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
                <div class="col-25">
                  <a href="/bf/wx/vendors/{{ vendor_id }}/pc/certs">
                  <div href="#" class="item-link item-content">
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">证书</div>
                      </div>
                    </div>
                    <div class="item-media"><img src="{{ static_url( 'customer/img/certificate.png' ) }}" style='width: 1.6rem;'></div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">{{ profile['crets'] }}</div>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
                <div class="col-25">
                  <a href="/bf/wx/vendors/{{ vendor_id }}/pc/bonus">
                  <div href="/bf/wx/vendors/{{ vendor_id }}/pc/bonus" class="item-link item-content">
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">积分</div>
                      </div>
                    </div>
                    <div class="item-media"><img src="{{ static_url( 'customer/img/point.png' ) }}" style='width: 1.6rem;'></div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">{{ profile['bonus'] }}</div>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
                <div class="col-25">
                  <a href="/bf/wx/vendors/{{ vendor_id }}/pc/vouchers">
                  <div href="#" class="item-link item-content">
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">代金券</div>
                      </div>
                    </div>
                    <div class="item-media"><img src="{{ static_url( 'customer/img/louchers.png' ) }}" style='width: 1.6rem;'></div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">{{ profile['vouchers'] }}元</div>
                      </div>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>

            <img class="img-responsive" src="{{ static_url( 'customer/img/muyuqixing.jpg' ) }}" alt="">
            <center><p style="color: #c7c7cc; font-size: 0.7rem;">&reg;骑无止境 提供技术支持</p></center>

          </div>

        </div> <!-- page -->
      </div> <!-- page group -->

      <script type='text/javascript' src='{{ static_url("light7/js/light7.min.js") }}' charset='utf-8'></script>
      <script type='text/javascript' src='{{ static_url("light7/js/light7-swiper.min.js") }}' charset='utf-8'></script>
      <script type='text/javascript' src='{{ static_url("light7/js/i18n/cn.js") }}' charset='utf-8'></script>

      <!-- customer js files -->
      <script type='text/javascript' src='{{ static_url("js/bf-app.js") }}' charset='utf-8'></script>

<!--
      <script>
        //打开自动初始化页面的功能
        //建议不要打开自动初始化，而是自己调用 $.init 方法完成初始化
        $.config = {
          autoInit: true
        }
      </script>

      <script src="{{ static_url('suimobile/js/sm.js') }}"></script>
      <script src="{{ static_url('suimobile/js/sm-extend.js') }}"></script>
      <script src="{{ static_url('suimobile/js/sm-city-picker.js') }}"></script>

      <script>$.init()</script>
    -->

    </body>
  </html>
