<!-- 重新调整后的活动详情，简化内容去除不必要的东西 -->
<!-- @2016/05/19 -->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{{triprouter['title']}}</title>
<link rel="stylesheet" href="{{ static_url('frozenui-1.3.0/css/frozen.css') }}">
<link href="{{ static_url('customer/css/common.css') }}" rel="stylesheet" type="text/css">
<link href="{{ static_url('customer/css/actdetails.css') }}" rel="stylesheet" type="text/css">
</head>
<body ontouchstart class="padding-bottom-70">
  <div class="banner">
    <img src="{{triprouter['bk_img_url']}}" />
      <!-- banner文字 -->
    <p class="banner_tit">{{triprouter['title']}}</p>
  </div>

  <div class="ui-loading-wrap">
    <p>正在加载中...</p>
    <i class="ui-loading"></i>
  </div>

  <!-- 放线路详情内容 -->
	<div class="main routines">
    <!-- <span class="bm">线路介绍</span> -->
	</div>

  <!-- TODO: 相关活动 -->

  <div class="content-block-title"> >>相关活动</div>
  <div class="list-block">
      <ul class="ui-list ui-list-link ui-border-tb">
      {% for activity in activitys %}
      <li class="ui-border-t">
        <a href="/bf/wx/vendors/{{ vendor_id }}/activitys/{{activity['_id']}}">
          <div class="ui-list-img">
              <span style="background-image:url({{activity['bk_img_url']}})"></span>
          </div>
          <div class="ui-list-info">
              <!-- <h4 class="ui-nowrap">这是标题，加ui-nowrap可以超出长度截断</h4> -->
              <p class="ui-nowrap">{{activity['title']}}</p>
          </div>
        </a>
      </li>
      <br/>
      {% end %}
    </ul>
  </div>

  <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  <script src="{{ static_url('frozenui-1.3.0/lib/zepto.min.js') }}"></script>
  <!-- 线路编号 -->
	<script type='text/template', id='data-routerID'>{{triprouter['_id']}}</script>
  <!-- 线路对应的文章编号 -->
	<script type='text/template', id='data-atcID'>{{triprouter.get('article_id','')}}</script>

  <script>

  /**
   * 活动详情交互脚本
   * @2016/05/25
   */
  $(function(){

    var articleID = $('#data-atcID').html();
    // console.log('article: '+articleID);

    // 再获取线路详情
    // 线路内容可能为空，所以要判断下
    if(articleID){
      console.log(articleID);
      $.getJSON('/bf/api/vendors/{{ vendor_id }}/articles/'+articleID+'/paragraphs', function(result){
        console.log(result);
        var paragraphs = '';
        for(var i in result){
          var p = result[i];
          if(p.type=='heading'){//标题
            paragraphs += '<span class="bm">'+p.content+'</span>';
          }
          if(p.type=='img'){//图片
            paragraphs += '<div class="m1">';
            paragraphs += ' <img src="'+p.content+'">';
            paragraphs += '</div>';
          }
          if(p.type=='raw'){//文本
            paragraphs += '<div class="m1">';
            paragraphs +=   p.content;
            paragraphs += '</div>';
          }
        }
        // 添加到页面
        $('.routines').html(paragraphs);
        $('.ui-loading-wrap').addClass('hidden');//隐藏进度条
      });
    }else{
      $('.ui-loading-wrap').addClass('hidden');//隐藏进度条
    }

  });

  </script>

</body>
</html>
