<!-- 重新调整后的活动详情，简化内容去除不必要的东西 -->
<!-- @2016/05/19 -->
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>代金券</title>
<link rel="stylesheet" href="{{ static_url('frozenui-1.3.0/css/frozen.css') }}">
<link rel="stylesheet" href="{{ static_url('customer/css/customer.css') }}">
<link href="{{ static_url('customer/css/common.css') }}" rel="stylesheet" type="text/css">
</head>
<body ontouchstart class="padding-bottom-70">

  <!-- 活动其他指标 -->
  <div class="white-bg padding-bottom-10 ">
    <div class="ui-whitespace margin-left-10 ui-border-b padding-bottom-10 ">

      <div class="bot_con"><!--start of card-->
        <div class="imger">
          <img src="/static/images/bike-logo.jpg">
          <span class="shadow-black">代金券面值：{{voucher['amount']}}元</span>
        </div>
        <div class="card-footer">
          <span class="card-footer-title">购买价格：</span>
          <span class="card-footer-title right">{{voucher['price']}}元</span>
          <div class="card-footer-desc">
            <span></span>
            <span class="right"></span>
          </div>
        </div>
      </div><!--end of card-->

      <div class="ui-col ui-border-l ui-flex ui-flex-pack-center ui-flex-align-center">
        <img src="{{ vendor_wx['wx_qrcode'] }}" width="200" height="300">
      </div>
    </div>
  </div>

	<!-- 底部工具栏 -->
  <div class="ui-footer ui-footer-stable white ui-border-t ui-row-flex">
    <div class="ui-btn-group no-gap">
      <input id="logined" type="hidden" value="{{ logined }}"/>

      <button class="ui-btn-lg round-corner no-border in-footer ui-btn-primary buy-voucher" >
          购买
      </button>
    </div>
  </div>

  <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  <script src="{{ static_url('frozenui-1.3.0/lib/zepto.min.js') }}"></script>

  <script>
    wx.config({
      debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
      appId: '{{ wx_app_id }}', // 必填，公众号的唯一标识
      timestamp: '{{sign["timestamp"]}}', // 必填，生成签名的时间戳
      nonceStr: '{{sign["nonceStr"]}}', // 必填，生成签名的随机串
      signature: '{{sign["signature"]}}',// 必填，签名，见附录1
      jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
    });

    wx.ready(function(){
  	  wx.onMenuShareAppMessage({
        title: 'title', // 分享标题
        desc: 'desc', // 分享描述
  	    link: '{{ wx_notify_domain }}', // 分享链接
  	    imgUrl: '', // 分享图标
  	    type: 'link', // 分享类型,music、video或link，不填默认为link
  	    dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
  	    success: function () {

  	    },
  	    cancel: function () {
  	      // 用户取消分享后执行的回调函数
  	    }
  	  });

  	  wx.onMenuShareTimeline({
  	    title: 'title', // 分享标题
  	    link: '{{ wx_notify_domain }}', // 分享链接
  	    imgUrl: '', // 分享图标
  	    success: function () {

  	    },
  	    cancel: function () {
  	        // 用户取消分享后执行的回调函数
  	    }
  	  });
    });
  </script>


  <script>
  $(function(){
    $('.buy-voucher').click(function(){
        var url = 'https://open.weixin.qq.com/connect/oauth2/authorize?appid={{ wx_app_id }}&redirect_uri={{ wx_notify_domain }}/bf/wx/vendors/{{ vendor_id }}/vouchers/{{ voucher["_id"] }}/buy/step1&response_type=code&scope=snsapi_userinfo&state=1#wechat_redirect';
        location.href = url;
    });

  });
  </script>


</body>
</html>
