<!-- 分销商页面 @2017/05/26 -->
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>分销商管理中心</title>
    <meta name="description" content="Material Design Mobile Template">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../img/touch/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../img/touch/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../img/touch/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../img/touch/apple-touch-icon-57x57-precomposed.png">
    <link rel="shortcut icon" sizes="196x196" href="../img/touch/touch-icon-196x196.png">
    <link rel="shortcut icon" href="../img/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="../img/touch/apple-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#222222">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Icons -->
    <link href="{{ static_url('shuttle/css/ionicons.min.css') }}" media="all" rel="stylesheet" type="text/css">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ static_url('shuttle/css/animate.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/swipebox.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/swiper.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/main.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle-master/distributor.css') }}">
    <script src="{{ static_url('shuttle/js/vendor/modernizr-2.7.1.min.js') }}"></script>
  </head>
  <body>
    <!-- Main Container -->
    <div id="main" class="main">

      <!-- Page Contents -->
      <div class="animated fadeinup">

        <!-- Hero Header -->
        <div class="hero-header hero-big animated fadeindown">
          <div class="hero-author">
            <img src="{{ distributor['club']['img'] }}" alt="" class="center avatar big">
            <div class="center">
              <h2 class="white-text m-0">{{ distributor['club']['name'] }}</h2>
              <span class="white-text small"><em>{{ distributor['club']['phone'] }}</em></span>
            </div>
          </div>
          <div class="opacity-overlay-gradient"></div>
        </div>

        <div class="share-counter">
          <div>
            <h3>438</h3>
            <p class="grey-text">积分</p>
          </div>
          <div>
            <h3>10k</h3>
            <p class="grey-text">用户</p>
          </div>
          <div>
            <h3>1.6k</h3>
            <p class="grey-text">销量</p>
          </div>
        </div>

        <div class="section" style="padding:0;">
          <ul class="faq collapsible animated fadeinright delay-1" data-collapsible="accordion">
            <li>
              <div class="collapsible-header" style="line-height:5rem;"><i class="ion-android-arrow-dropdown right" style="line-height:5rem;"></i>供应商列表</div>
              <div class="collapsible-body"><p>供应商one</p><p>供应商two</p><p>供应商three</p></div>
            </li>
            <li>
              <div class="collapsible-header" style="line-height:5rem;"><i class="ion-android-arrow-dropdown right" style="line-height:5rem;"></i>分销的商品列表</div>
              <div class="collapsible-body news">
                <!-- 单个列表 -->
                {% for activity in activities %}
                  <div class="media-top-object animated fadeinright z-depth-1 delay-2" id="open_new" onclick="document.location = &apos;/bf/wx/vendors/{{ league_id }}/distributor/{{ activity['club_id'] }}/goods-share/{{ distributor_id }}?item_id={{ activity['_id'] }}&apos;">
                    <a href="#" class="media-left"><img src="{{ activity['img'] }}" alt=""></a>
                    <div class="media-body">
                      <h4 class="news-title">
                        <a href="#">{{ activity['title'] }}</a>
                      </h4>
                      <p class="small" style="padding:0;">{{ activity['subtitle'] }}</p>
                      <div class="card-feedback">
                        <div class="card-users">
                          <i class="ion-ios-heart accent-text"></i> <span>346</span>
                          <i class="ion-android-person-add"></i> <span>205</span>
                        </div>
                      </div>
                    </div>
                  </div>
                {% end %}
                <!-- 单个列表end -->
              </div>
            </li>
          </ul>
        </div>
        </div>

      </div>
    <!-- End of Main Container -->

    <!-- Scripts -->
    <script src="{{ static_url('shuttle/js/vendor/modernizr-2.7.1.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/jquery-2.1.0.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/helper.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/HeadsUp.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/jquery.smoothState.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/chart.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/jquery.mixitup.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/jquery.swipebox.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/masonry.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/swiper.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/materialize.min.js') }}"></script>
    <script src="{{ static_url('shuttle-master/distributor.js') }}"></script>
    <script type="text/javascript">
    $(function(){
    })

    </script>
  </body>
</html>
