<!-- 供应商所卖商品 @2017/05/25 -->
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>商品详情页</title>
    <meta name="description" content="Material Design Mobile Template">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../img/touch/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../img/touch/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../img/touch/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../img/touch/apple-touch-icon-57x57-precomposed.png">
    <link rel="shortcut icon" sizes="196x196" href="../img/touch/touch-icon-196x196.png">
    <link rel="shortcut icon" href="../img/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="../img/touch/apple-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#222222">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Icons -->
    <link href="{{ static_url('shuttle/css/ionicons.min.css') }}" media="all" rel="stylesheet" type="text/css">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ static_url('ydui/css/ydui.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/animate.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/swipebox.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/swiper.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/main.css') }}">
    <script src="{{ static_url('shuttle/js/vendor/modernizr-2.7.1.min.js') }}"></script>
  </head>
  <body>
    <!-- Main Container -->
    <div id="main" class="main">
      <!-- End of Toolbar -->

      <!-- Page Contents -->
      <div class="animated fadeinup">

        <!-- Hero Header -->
        <div class="hero-header animated fadein">
          <!-- Slider -->
          <div class="swiper-container swiper-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="#"><img src="{{ activity['img'] }}" alt=""></a>
              </div>
              <div class="swiper-slide">
                <a href="#"><img src="{{ activity['img'] }}" alt=""></a>
              </div>
              <div class="swiper-slide">
                <a href="#"><img src="{{ activity['img'] }}" alt=""></a>
              </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
          </div>
          <!-- End of Slider -->

          <!-- Floating Action Button -->
        </div>

        <!-- Product Title -->
        <div class="center-align p-20">
          <!-- <span class="small grey-text">科技产品</span> -->
          <h3 class="m-0"><strong>{{ activity['title'] }}</strong></h3>
          <h4></h4>
        </div>

        <!-- Prduct Description -->
        <div class="product-description">
          <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#product1">商品介绍</a></li>
            <li class="tab col s3"><a href="#product2">商品评价</a></li>
          </ul>

          <div id="product1" class="p-20">
            <p class="text-flow">{{ activity['subtitle'] }}</p>
          </div>
          <div id="product2" class="p-20">
            <p class="text-flow">这里应该有评价列表。。。。</p>
          </div>
        </div>

        <div class="product-variation">
          <h5><strong>选择规格:</strong></h5>
          <form action="#">
            {% for i in range(len(activity['base_fee_template'])) %}
            <p>
              <input name="group1" type="radio" id="test{{i}}" />
              <label for="test{{i}}">{{ activity['base_fee_template'][i]['name'] }}:{{ activity['base_fee_template'][i]['fee'] }}元</label>
            </p>
            {% end %}

          </form>
        </div>

        <form id="f_form" action="/bf/wx/vendors/{{league_id}}/goods-detail/{{club_id}}?item_id={{ activity_id }}" method="POST">
          <div class="product-variation">
            <a id="f_btn" class="waves-effect waves-light btn-large modal-trigger accent-color block m-20" href="javascript:void(0)">加入分销</a>
          </div>
        </form>

        <!-- Footer -->
        <footer class="page-footer primary-color">
          <div class="section center">
            <h2 class="heading white-text">7x24hs</h2>
            <p class="center-align grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            <div class="footer-icons">
              <i class="ion-social-facebook m-10 white-text"></i>
              <i class="ion-social-twitter m-10 white-text"></i>
              <i class="ion-social-pinterest m-10 white-text"></i>
              <i class="ion-social-instagram m-10 white-text"></i>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container center">
              <span>Made with <i class="ion-ios-heart"></i> by Thomas</span>
            </div>
          </div>
        </footer>


      </div>
      <!-- End of Page Contents -->
    </div>
    <!-- End of Main Container -->

    <!-- Scripts -->
    <script src="{{ static_url('shuttle/js/vendor/modernizr-2.7.1.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/jquery-2.1.0.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/helper.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/HeadsUp.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/jquery.smoothState.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/chart.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/jquery.mixitup.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/jquery.swipebox.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/masonry.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/swiper.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/materialize.min.js') }}"></script>
    <script src="{{ static_url('shuttle-master/product.js') }}"></script>
    <script src="{{ static_url('ydui/js/ydui.js') }}"></script>
    <script type="text/javascript">
    $(function(){
      $("#f_btn").on('click',function(){
        var dialog = window.YDUI.dialog;
        dialog.confirm('提醒', '确定分销该商品吗？', [
          {
            txt: '确定',
            color: true,
            callback: function () {
                dialog.toast('分销成功', 'none', 1000);
                $("#f_form").submit();
            }
          },
          {
            txt: '取消',
            color: true,
            callback: function () {
                dialog.toast('取消了', 'none', 1000);
            }
          }
        ]);
      })
    });

    </script>
  </body>
</html>
