<!-- 注册分销商 @2017/05/26 -->
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>分销商注册</title>
    <meta name="description" content="Material Design Mobile Template">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../img/touch/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../img/touch/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../img/touch/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../img/touch/apple-touch-icon-57x57-precomposed.png">
    <link rel="shortcut icon" sizes="196x196" href="../img/touch/touch-icon-196x196.png">
    <link rel="shortcut icon" href="../img/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="../img/touch/apple-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#222222">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Icons -->
    <link href="{{ static_url('shuttle/css/ionicons.min.css') }}" media="all" rel="stylesheet" type="text/css">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ static_url('shuttle/css/animate.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/swipebox.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/swiper.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/main.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle-master/register.css') }}">
    <script src="{{ static_url('shuttle/js/vendor/modernizr-2.7.1.min.js') }}"></script>
  </head>
  <body>
    <!-- Main Container -->
    <div id="main" class="main">

      <!-- Page Contents -->
      <div class="page animated fadeinup">

        <!-- Form Inputs -->
        <form class="" id="re_form" action="/bf/wx/vendors/{{ league_id }}/register-distributor" method="post">
            <div class="form-inputs p-20">
                <div>
                  <div class="input-field animated fadeinright">
                    <input id="reg_name" name="reg_name" type="text" class="validate">
                    <label for="reg_name">分销商名称</label>
                  </div>
                </div>
                <div class="input-field animated fadeinright delay-2">
                  <input id="reg_phone" name="reg_phone" type="number" class="validate">
                  <label for="reg_phone">联系电话</label>
                </div>
                <div class="input-field animated fadeinright delay-3">
                  <input id="reg_email" name="reg_email" type="email" class="validate">
                  <label for="reg_email">电子邮箱</label>
                </div>
                <div class="input-field animated fadeinright delay-4">
                  <input id="reg_city" name="reg_city" type="text" class="validate">
                  <label for="reg_city">地址</label>
                </div>
                <div class="input-field animated fadeinright delay-5">
                  <textarea class="materialize-textarea" id="reg_intro" name="reg_intro"></textarea>
                  <label for="reg_intro">简介</label>
                </div>
                <a class="waves-effect waves-light btn-large primary-color block animated bouncein delay-6"
                   href="#" id="re_btn">注册</a>
            </div>
        </form>
        <!-- End of Form -->

      </div>
      <!-- End of Page Contents -->
    </div>
    <!-- End of Main Container -->

    <!-- Scripts -->
    <script src="{{ static_url('shuttle/js/vendor/jquery-2.1.0.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/helper.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/HeadsUp.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/jquery.smoothState.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/jquery.mixitup.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/jquery.swipebox.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/masonry.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/swiper.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/materialize.min.js') }}"></script>
    <script src="{{ static_url('shuttle-master/register.js') }}"></script>

    <script type="text/javascript">
      $(function(){
        $("#re_btn").on('click',function(){
          var _this = $(this);
            $("#re_form").submit();
        });
        $("#J_GetCode").on('click',function(){
          SmsVerifyCode();
        })
        function SmsVerifyCode() {
          var wait = 300; // 5分钟
          function time(t) {
            if (wait == 0) {
              t.removeAttribute("disabled");
              t.value = "获取";
              wait = 300; // 5分钟
            } else {
              t.setAttribute("disabled", true);
              t.value = "" + wait + "秒";
              wait--;
              setTimeout(function() {
                time(t)
              }, 1000)
            }
          }

            var phone = $("#telephone").val();
                console.log(phone);
            var data = {
              "phone": phone,
            };
            var json = JSON.stringify(data);

            $.ajax({
              type: "POST",
              url: "/admin/auth/phone/verify-code",
              data: json,
              dataType: "json",
              contentType: 'application/json',
              success: function(data, status, xhr) {
                var btn = document.getElementById("J_GetCode");
                time(btn);
              },
              error: function(XMLHttpRequest, textStatus, errorThrown) {
                console.log("XMLHttpRequest.status:" + XMLHttpRequest.status);
                if (XMLHttpRequest.status == 200) {
                  var btn = document.getElementById("J_GetCode");
                  time(btn);
                } else if (XMLHttpRequest.status == 401) {
                  $('.login-form-main-message').addClass('show error').html("验证码不正确!");
                } else if (XMLHttpRequest.status == 404) {
                  $('.login-form-main-message').addClass('show error').html("此手机号码未注册!");
                } else if (XMLHttpRequest.status == 408) {
                  $('.login-form-main-message').addClass('show error').html("短信验证码5分钟内有效, 不必获取新的!");
                } else {
                  $('.login-form-main-message').addClass('show error').html(XMLHttpRequest.status + ": 服务器异常,请稍后重试!");
                }
              },
              complete: function(XMLHttpRequest, textStatus) {
                this; // 调用本次AJAX请求时传递的options参数
              }
            });

          }
      })
    </script>

  </body>
</html>
