<!-- 供应商列表 @2017/05/23 -->
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>供应商列表</title>
    <meta name="description" content="Material Design Mobile Template">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../img/touch/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../img/touch/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../img/touch/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../img/touch/apple-touch-icon-57x57-precomposed.png">
    <link rel="shortcut icon" sizes="196x196" href="../img/touch/touch-icon-196x196.png">
    <link rel="shortcut icon" href="../img/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="../img/touch/apple-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#222222">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Icons -->
    <link href="{{ static_url('shuttle/css/ionicons.min.css') }}" media="all" rel="stylesheet" type="text/css">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ static_url('shuttle/css/animate.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/swipebox.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/swiper.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/main.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle-master/list.css') }}">
    <link rel="stylesheet" href="{{ static_url('ydui/css/ydui.css') }}">
    <script src="{{ static_url('shuttle/js/vendor/modernizr-2.7.1.min.js') }}"></script>
  </head>
  <style>
    body {overflow-x: hidden}
  </style>
  <body>
    <!-- Main Container -->
    <div id="main" class="main">

      <!-- Page Contents -->
      <div class="animated fadeinup">
        <div class="todo" id="ListContent"></div>
      </div>
      <!-- End of Page Contents -->
    </div>
    <!-- End of Main Container -->

    <!-- Scripts -->
    <script src="{{ static_url('shuttle/js/vendor/modernizr-2.7.1.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/jquery-2.1.0.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/helper.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/HeadsUp.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/jquery.smoothState.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/chart.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/jquery.mixitup.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/jquery.swipebox.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/masonry.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/swiper.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/materialize.min.js') }}"></script>
    <script src="{{ static_url('shuttle-master/list.js') }}"></script>
    <script src="{{ static_url('ydui/js/ydui.js') }}"></script>
    <script>
            // 根据实际情况自定义获取数据方法
            var limit = 10;
            var pageNum = 1;

            $('#ListContent').infiniteScroll({
                pageSize: limit,
                loadingHtml: '<strong>加载中...</strong>',
                loadListFn: function(){
                  var def = $.Deferred();
                  $.ajax({
                    type: "GET",
                    url: "{{api_domain}}/api/leagues/{{ league_id }}/clubs?filter=league&franchise_type=供应商&page="+pageNum+"&limit="+limit,
                    headers: {
                      "Authorization": "Bearer {{ access_token }}"
                    },
                    contentType: 'application/json',
                    success: function(data, status, xhr) {
                          console.log(data);
                          data_obj = JSON.parse(data);
                          data = data_obj.rs;
                      var pageData = data.data;
                      var inner_html = "";
                      for (var i in pageData) {
                            inner_html += '<p class="todo-element" data-id="'+pageData[i]['club_id']+'">';
                            inner_html += '<img alt="" src="'+pageData[i]['img']+'!200x200">';
                            inner_html += '<label for="todo2">'+pageData[i]['name']+'</label>';
                            inner_html += '<span class="small">'+pageData[i]['introduction']+'</span>';
                            inner_html += '<span class="more"><i class="ion-ios-arrow-right"></i></span>';
                            inner_html += '</p>';
                        };
                        $('#ListContent').append(inner_html);
                        def.resolve(pageData);
                        ++pageNum;
                      }
                    })
                    return def.promise();
                }
            });
    </script>
    <script type="text/javascript">
    // 分销商列表 @2017/05/23
    $(function(){
      console.log('to fetch distributor list...');

      $('.todo-element').click(function(e){
        console.log('todo element clicked!');

        console.log($(this));
        console.log($(this).data('id'));
        location.href = '/bf/wx/vendors/{{ league_id }}/supplier?s=' + $(this).data('id');
      });

    });

    </script>
  </body>

</html>
