<footer class="page-footer primary-color">
  <div class="section center">
    <h3 class="heading white-text">{{ club['name'] }}</h3>
    <p class="center-align grey-text text-lighten-4">{{ club['introduction'] }}</p>
    <div class="footer-icons">
      <i class="fa fa-facebook m-10 white-text"></i>
      <i class="fa fa-twitter m-10 white-text"></i>
      <i class="fa fa-pinterest m-10 white-text"></i>
      <i class="fa fa-instagram m-10 white-text"></i>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center">
      <span>Made with <i class="fa fa-heart accent-text"></i> by 7x24hs.com</span>
    </div>
  </div>
</footer>
