<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>预订</title>
  <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <meta content="black" name="apple-mobile-web-app-status-bar-style" />
  <meta content="telephone=no" name="format-detection" />

  <!-- 引入fontawesome字体 -->
  <link rel="stylesheet" href="{{ static_url('css/font-awesome.min.css') }}">
  <!-- 引入YDUI样式 -->
  <link rel="stylesheet" href="{{ static_url('ydui/css/ydui.css') }}">
  <!-- <link rel="stylesheet" href="{{ static_url('css/legend.css') }}" /> -->
  <link rel="stylesheet" href="{{ static_url('jquery-weui/lib/weui.min.css') }}">

  <style>
    .primary-color {
      background-color: #01acc6 !important;
    }
  </style>

  <!-- 引入YDUI自适应解决方案类库 -->
  <script src="{{ static_url('ydui/js/ydui.flexible.js') }}"></script>

</head>

<body>

  <section class="g-flexview">
    <section id="mainForm" class="g-scrollview">

      <div class="page__bd">
        <div class="weui-panel weui-panel_access">
          <div class="weui-panel__bd">
            <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
              <div class="weui-media-box__hd">
                <img class="weui-media-box__thumb" src="{{ activity['bk_img_url'] }}!200x200" alt="">
              </div>
              <div class="weui-media-box__bd">
                <h4 class="weui-media-box__title">{{ activity['title'] }}</h4>
                <p class="weui-media-box__desc">{{ activity['location'] }}</p>
              </div>
            </a>
          </div>
        </div>
      </div>

      <form method="POST" action="/webapp/eshop/clubs/{{ club['_id'] }}/products/{{ activity['_id'] }}/place-order">
        <div class="m-celltitle">选择尺寸</div>
        <div class="m-cell">
          {% for i in range(len(activity['base_fee_template'])) %}
          <label class="cell-item">
          <span class="cell-left">{{ activity['base_fee_template'][i]['name'] }}:</span>
          <label class="cell-right">
            <span class="list-price"><em>¥</em>{{ activity['base_fee_template'][i]['fee'] }}</span>&nbsp;<span class="list-del-price">¥220</span>&nbsp;
            {% if i == 0 %}
            <input type="radio" value="{{ activity['base_fee_template'][i]['_id'] }}" name="base_fees" checked/>
            {% else %}
            <input type="radio" value="{{ activity['base_fee_template'][i]['_id'] }}" name="base_fees"/>
            {% end %}
            <i class="cell-radio-icon"></i>
          </label>
          </label>
          {% end %}
        </div>

        <div class="m-celltitle">收货日期</div>
        <div class="m-cell">
          <div class="cell-item">
            <div class="cell-left">时间：</div>
            <div class="cell-right"><input class="cell-input" type="date" name="date" value="2017-04-09" placeholder="" /></div>
          </div>
        </div>

        <div class="m-celltitle">联系方式</div>
        <div class="m-cell">
          <div class="cell-item">
            <div class="cell-left"><i class="cell-icon demo-icons-phone"></i></div>
            <div class="cell-right">
              <input type="number" name="phone" pattern="[0-9]*" class="cell-input" placeholder="请输入手机号码" autocomplete="off" />
            </div>
          </div>
          <div class="cell-item">
            <div class="cell-right">
              <textarea name="note" class="cell-textarea" placeholder="请输入详细要求和收货地址（订单只限北京城区，四环内免费送货）"></textarea>
            </div>
          </div>
        </div>

        <!-- 使用：样式模块以按钮为例 -->
        <div class="m-button">
          <button type="submit" class="btn-block btn-primary primary-color">下单</button>
        </div>
      </form>

    </section>
  </section>

  <!-- 引入jQuery 2.0+ -->
  <script src="{{ static_url('js/jquery-2.2.4.min.js') }}"></script>
  <!-- 引入YDUI脚本 -->
  <script src="{{ static_url('ydui/js/ydui.js') }}"></script>

</body>

</html>
