<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{{ club['name'] }}</title>
  <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport" />
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <meta content="black" name="apple-mobile-web-app-status-bar-style" />
  <meta content="telephone=no" name="format-detection" />

  <!-- 引入fontawesome字体 -->
  <link rel="stylesheet" href="{{ static_url('css/font-awesome.min.css') }}">
  <!-- 引入YDUI样式 -->
  <link rel="stylesheet" href="{{ static_url('ydui/css/ydui.css') }}">
  <link rel="stylesheet" href="{{ static_url('jquery-weui/lib/weui.min.css') }}">
  <!-- <link rel="stylesheet" href="../static/ydui/css/demo.css" /> -->
  <link rel="stylesheet" href="{{ static_url('css/legend.css') }}" />

  <!-- 引入YDUI自适应解决方案类库 -->
  <script src="{{ static_url('ydui/js/ydui.flexible.js') }}"></script>

</head>

<body>
  <div class="g-flexview">
    <!-- Page Contents -->
    <div id="mainForm" class="g-scrollview">

      <!-- Hero Header -->
      <div class="hero-header hero-big bg-3 animated fadeindown" v-bind:style="article.style">
        <div class="hero-author">
          <div class="media-top-object">
            <div class="media-body left-align">
              <p class="white-text">{{ club['name'] }}</p>
              <span class="white-text small"><a href="tel:{{ club['phone'] }}"><em>{{ club['phone'] }}</em></a></span>
            </div>
          </div>
        </div>
        <div class="opacity-overlay-gradient"></div>

        <div class="fixed-action-btn floating-button animated bouncein delay-3 horizontal click-to-toggle">
          <a href="/webapp/eshop/clubs/{{ club['_id'] }}/products/{{ activity['_id'] }}/place-order" class="btn-floating btn-large accent-color">
            <i class="fa fa-cart-arrow-down" style="font-size:20px"></i>
          </a>
        </div>
      </div>

      <div class="card-feedback">
        <div class="card-users">
          <i class="fa fa-eye" style="font-size:16px"></i> <span>{{! article.read_num }}</span>
          <i class="fa fa-thumbs-o-up accent-text" style="font-size:16px"></i> <span>{{! article.like_num }}</span>
          <i class="fa fa-comments-o" style="font-size:16px"></i> <span>{{! article.comment_num }}</span>
        </div>
      </div>

      <!-- Article Content -->
      <div class="animated fadeinup delay-1">
        <div class="p-20">
          <h1>{{! article.title }}</h1>
          <blockquote class="accent-border">{{! article.subtitle }}</blockquote>
        </div>
      </div>

      <div class="m-tab demo-small-pitch" data-ydui-tab>
        <ul class="tab-nav ">
          <li class="tab-nav-item tab-active "><a href="javascript:; ">价格</a></li>
          <li class="tab-nav-item "><a href="javascript:; ">{{! article.comment_num }} 条评论</a></li>
        </ul>

        <div class="tab-panel">
          <div class="tab-panel-item tab-active">
            <section class="g-scrollview">
              <div class="m-cell">
                {% for fee in activity['base_fee_template'] %}
                <div class="cell-item">
                  <div class="cell-left">{{ fee['name'] }}:</div>
                  <div class="cell-right"><span class="list-price"><em>¥</em>{{ fee['fee'] }}</span>&nbsp;<span class="list-del-price">¥220</span></div>
                </div>
                {% end %}
              </div>
            </section>
          </div>
          <div class="tab-panel-item">
            <section class="g-scrollview">
              <!-- Comments -->
              <div class="comments grey lighten-4">
                <h5>{{! article.comment_num }} 条评论</h5>
                <div is="oneComment" v-for="(comment, idx) in comments" v-bind:comment="comment" v-bind:idx="idx"></div>

                <div class="controls right-align animated fadeinup delay-2">
                  <button id="queryMoreCommentsBtn" class="filter" v-on:click="queryMoreComments">查看更多...</button>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>


      <!-- Article Content -->
      <div class="animated fadeinup delay-1">
        <div class="p-20">
          <p class="text-flow" v-html="article.paragraphs"></p>
        </div>
      </div>

      <!-- 使用：样式模块以按钮为例 -->
      <div class="m-button">
        <a href="/webapp/eshop/clubs/{{ club['_id'] }}/products/{{ activity['_id'] }}/place-order" class="btn-block btn-primary primary-color" id="J_Btn">预订</a>
      </div>

      <!-- Footer -->
      {% module Template("eshop/block-footer.html", club=club) %}

    </div>
  </div>

  <!-- 引入jQuery 2.0+ -->
  <script src="{{ static_url('js/jquery-2.2.4.min.js') }}"></script>
  <!-- 引入YDUI脚本 -->
  <script src="{{ static_url('ydui/js/ydui.js') }}"></script>
  <!-- 引入vue脚本 -->
  <script src="{{ static_url('js/vue-2.1.4.js') }}" type="text/javascript"></script>

  <script>
    Vue.component('oneComment', {
      template: '\
        <div class="media-top-object animated delay-2">\
          <img v-bind:src="comment.avatar" alt="" class="media-left avatar">\
          <div class="media-body">\
            <span>{{! comment.nickname }}</span>\
            <span class="small">{{! comment.comment }}</span>\
          </div>\
        </div>\
      ',
      props: ['idx', 'comment'],
      methods: {}
    })

    new Vue({
      el: '#mainForm',
      data: {
        article: {},
        comments: [],
        num: 0,
        limit: 4,
      },
      created: function() {
        this.queryArticle();
        this.queryMoreComments();
      },
      methods: {
        queryArticle: function() {
          _self = this;

          $.ajax({
            type: "GET",
            url: "{{ API_DOMAIN }}/api/articles/{{ article_id }}",
            async: true,
            dataType: "json",
            contentType: 'application/json',
            success: function(data, status, xhr) {
              console.log(data);
              article = data.rs;
              article.style = "background: url(" + article.img + ") no-repeat center / cover !important;"
              article.avatar += "!100x100";
              article.publish_time = _self.getFriendlyTime(article.publish_time);
              _self.article = article;
            },
          });
        },
        queryMoreComments: function() {
          if ($("#queryMoreCommentsBtn").html() == "没有评论了")
            return false;

          _self = this;
          idx = this.num;
          limit = this.limit;

          $.ajax({
            type: "GET",
            url: "{{ API_DOMAIN }}/api/articles/{{ article_id }}/comment?idx=" + idx + "&limit=" + limit,
            async: true,
            dataType: "json",
            contentType: 'application/json',
            success: function(datas, status, xhr) {
              console.log(datas);
              for (var i = 0, l = datas.rs.length; i < l; i++) {
                comment = datas.rs[i];
                _self.comments.push(comment);
                _self.num += 1;
              }

              if (datas.rs.length < limit) {
                $("#queryMoreCommentsBtn").html('没有评论了');
              }
            },
          });
        },
        sendLike: function() {
          console.log('like');
          _self = this;

          $.ajax({
            type: "POST",
            url: "{{ API_DOMAIN }}/api/articles/{{ article_id }}/like",
            dataType: "json",
            contentType: 'application/json',
            success: function(data, status, xhr) {
              console.log(data);

              _self.article.like_num += 1;
              $('#likeIcon').removeClass('fa-thumbs-o-up');
              $('#likeIcon').addClass('fa-thumbs-up');
              $('#likeIconBtn').removeClass('fa-thumbs-o-up');
              $('#likeIconBtn').addClass('fa-thumbs-up');
              $('#likeIconBtn2').removeClass('fa-thumbs-o-up');
              $('#likeIconBtn2').addClass('fa-thumbs-up');
            },
          });
        },
        sendComment: function() {
          _self = this;

          comment = $("#commentText").val();
          var data = {
            "comment": comment,
          };
          var json = JSON.stringify(data);

          $.ajax({
            type: "POST",
            url: "{{ API_DOMAIN }}/api/articles/{{ article_id }}/comment",
            async: true,
            dataType: "json",
            contentType: 'application/json',
            data: json,
            success: function(data, status, xhr) {
              console.log(data);
              _self.article.comment_num += 1;
              _self.comments.splice(0, 0, data.rs);
              $("#commentText").val('');
            },
          });
        },
        getFriendlyTime(nS) { //时间戳转换
          return new Date(parseInt(nS) * 1000).toLocaleString().replace(/:\d{1,2}$/, ' ');
        },
      }
    })
  </script>

</body>

</html>
