<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{_("Add")}}</title>
<link rel="stylesheet"
	href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<link rel="stylesheet" href="{{ static_url("css/fileinput.min.css")}}">

<!-- CSS -->
<style type="text/css">
.form-signin {
	max-width: 600px;
	padding: 19px 0px 19px;
	margin: 0 auto 20px;
}
</style>
</head>

<body>
	<div class="container">
		<form class="form-signin" id="form1"
			accept-charset="UTF-8" method="POST" action="add-article">
			{% raw xsrf_form_html() %}

			<div class="form-group required">
				<label for="title" class="sr-only">{{_("Please input title...")}}</label>
				<input type="text" id="title" name="title" class="form-control"
					placeholder={{_("Please input title...")}} required autofocus>
			</div>
			<div class="form-group required">
				<label for="content" class="sr-only">{{_("Please input content...")}}</label>
				<textarea class="form-control input-lg" id="content" name="content"
					placeholder={{_("Please input content...")}} rows="6"></textarea>
			</div>
			<div class="form-group required">
				<label for="file" class="sr-only">{{_("Please choose file...")}}</label>
				<input id="file" name="file" class="file" type="file"
							data-show-caption="false" data-show-upload="false"
							data-show-remove="true" />
				<input id="imgUrl" name="imgUrl" type="hidden" />
			</div>
			<div class="form-group">
				<a id="submit" class="btn btn-lg btn-primary btn-block">{{_("Submit")}}</a>
				<div id="success-block"></div>
			</div>
		</form>
	</div>
	<!--container-->

	<script src="{{ static_url("js/fileinput.min.js")}}"></script>
	<script src="{{ static_url("js/fileinput_locale_zh.js")}}"></script>
	<script src="{{ static_url("js/spark-md5.min.js")}}"></script>
	<script src="{{ static_url("js/async.js")}}"></script>
	<script src="{{ static_url("js/upyun-mu.js")}}"></script>
	<script>
		function uuid() {
			var s = [];
			var hexDigits = "0123456789abcdef";
			for (var i = 0; i < 36; i++) {
				s[i] = hexDigits.substr(Math.floor(Math.random() * 0x10), 1);
			}
			s[14] = "4"; // bits 12-15 of the time_hi_and_version field to 0010
			s[19] = hexDigits.substr((s[19] & 0x3) | 0x8, 1); // bits 6-7 of the clock_seq_hi_and_reserved to 01
			s[8] = s[13] = s[18] = s[23] = "-";

			var uuid = s.join("");
			return uuid;
		}

		document.getElementById('submit').onclick = function() {
			var ext = '.' + document.getElementById('file').files[0].name.split('.').pop();

			var config = {
				// 空间名称
				bucket : 'bike-forever',
				// 上传请求过期时间
				expiration : parseInt((new Date().getTime() + 3600000) / 1000),
				// 尽量不要使用直接传表单 API 的方式，以防泄露造成安全隐患
				form_api_secret : 'c3sWvWKcyWo06nKPPcazKT/R4H8='
			};

			var instance = new Sand(config);
			var options = {
				'notify_url' : 'http://upyun.com'
			};
			instance.setOptions(options);

			var d = new Date();
			var month = d.getMonth() + 1;
			var filename = '/blog/' + d.getFullYear() + '/' + month + '/' + d.getDate() + '/' + uuid() + ext;
			instance.upload(filename);
			document.getElementById("imgUrl").value = 'http://bike-forever.b0.upaiyun.com' + filename;
		};

		document.addEventListener('uploaded',function(e) {
			var block = document.getElementById('success-block');

			var elem = document.createElement("ul");
			elem.innerHTML += '<div class="alert alert-success" role="alert">Well done! You successfully upload this file.</div>';
			block.appendChild(elem);

			setTimeout(function() {
				elem.remove();
			}, 5000);

			document.getElementById("form1").submit();
		});
	</script>
</body>
</html>
