<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>骑无止境</title>

  <!-- Bootstrap core CSS -->

  <link href="/static/admin/css/bootstrap.min.css" rel="stylesheet">

  <link href="/static/admin/fonts/css/font-awesome.min.css" rel="stylesheet">
  <link href="/static/admin/css/animate.min.css" rel="stylesheet">

  <!-- Custom styling plus plugins -->
  <link href="/static/admin/css/custom.css" rel="stylesheet">
  <link href="/static/admin/css/icheck/flat/green.css" rel="stylesheet">

  <link type="text/css" rel="stylesheet"
        href="//cdn.bootcss.com/SyntaxHighlighter/3.0.83/styles/shCoreDefault.min.css" />
  <link type="text/css" rel="stylesheet"
        href="//cdn.bootcss.com/SyntaxHighlighter/3.0.83/styles/shThemeDefault.min.css" />

  <script src="/static/admin/js/jquery.min.js"></script>

  <!--[if lt IE 9]>
        <script src="../assets/js/ie8-responsive-file-warning.js"></script>
        <![endif]-->

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>


<body class="nav-md">

  <div class="container body">


    <div class="main_container">

      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">

          <!-- navigation title -->
          {% module Template("vendor/nav-title-block.html", ops=ops) %}
          <!-- /navigation title -->
          <div class="clearfix"></div>

          <!-- menu prile quick info -->
          {% module Template("vendor/menu-prile-quick-info-block.html", my_account=my_account) %}
          <!-- /menu prile quick info -->

          <br />

          <!-- sidebar menu -->
          {% module Template("vendor/sidebar-menu-block.html", vendor_id=vendor_id, budge_num=budge_num) %}
          <!-- /sidebar menu -->

        </div>
      </div>

      <!-- top navigation -->
      {% module Template("vendor/top-nav-block.html", my_account=my_account) %}
      <!-- /top navigation -->

      <!-- page content -->
      <div class="right_col" role="main">
        <!-- /top tiles -->

        <div class="">
          <div class="page-title">
            <div class="title_left">
              <h3>活动 <small> 编辑</small></h3>
            </div>
          </div>
          <div class="clearfix"></div>

          <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>详细行程 <small>添加标题</small></h2>
                  <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
								<div class="x_content">
                  <br />
                  <form id="form3" data-parsley-validate class="form-horizontal form-label-left"
                    method="POST" action="/vendors/{{ vendor_id }}/blog/add-paragraph">
                    {% raw xsrf_form_html() %}
                    <input type="hidden" name="travel_id" value="{{travel_id}}"/>
                    <input type="hidden" name="travel_type" value="{{travel_type}}"/>
										<input type="hidden" name="article_id" value="{{article_id}}"/>
										<input type="hidden" name="type" value="heading"/>

                    <div class="form-group">
                      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="content">段落标题 <span class="required">*</span>
                      </label>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <input type="text" id="content" name="content"
                          required="required" class="form-control col-md-7 col-xs-12">
                      </div>
                    </div>

                    <div class="ln_solid"></div>
                    <div class="form-group">
                      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                        <button type="submit" class="btn btn-primary">重置</button>
                        <button type="submit" class="btn btn-success">提交</button>
                      </div>
                    </div>

                  </form>
                </div>

              </div>
            </div>

          </div>
        </div>

        <!-- footer content -->
        {% module Template("vendor/footer-block.html") %}
        <!-- /footer content -->

      </div>
      <!-- /page content -->
    </div>

  </div>

  <div id="custom_notifications" class="custom-notifications dsp_none">
    <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
    </ul>
    <div class="clearfix"></div>
    <div id="notif-group" class="tabbed_notifications"></div>
  </div>

  <script src="/static/admin/js/bootstrap.min.js"></script>

  <!-- icheck -->
  <script src="/static/admin/js/icheck/icheck.min.js"></script>
  <!-- pace -->
  <script src="/static/admin/js/pace/pace.min.js"></script>
  <script src="/static/admin/js/custom.js"></script>

</body>
</html>
