{% if paragraph["type"] == "heading" %}
  <span style="cursor:pointer;" class="bm" onclick="redrict(this);" data-redirect="/vendors/{{ vendor_id }}/blog/edit-paragraph?travel_id={{travel_id}}&article_id={{article_id}}&id={{paragraph["id"]}}&travel_type=activity">{{paragraph["content"]}}</span>
{% elif paragraph["type"] == "img" %}
  <div style="cursor:pointer;" class="m1" onclick="redrict(this);" data-redirect="/vendors/{{ vendor_id }}/blog/edit-paragraph-img?travel_id={{travel_id}}&articleId={{article_id}}&id={{paragraph["id"]}}&travel_type=activity">
    <img src="{{paragraph["content"]}}" />
  </div>
{% elif paragraph["type"] == "raw" %}
  <div style="cursor:pointer;" class="m1" onclick="redrict(this);" data-redirect="/vendors/{{ vendor_id }}/blog/edit-paragraph-raw?travel_id={{travel_id}}&article_id={{article_id}}&id={{paragraph["id"]}}&travel_type=activity">
    {% raw paragraph["content"] %}
  </div>
{% else %}
	<a href="/vendors/{{ vendor_id }}/blog/edit-paragraph?travel_id={{travel_id}}&articleId={{article_id}}&id={{paragraph["id"]}}&travel_type=activity">
		<{{paragraph["type"]}}>{{paragraph["content"]}}</{{paragraph["type"]}}></a>
{% end %}
