<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Time&sup2;box - Blog</title>

<!-- Bootstrap Core CSS -->
<link rel="stylesheet"
	href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet"
	href="//cdn.bootcss.com/SyntaxHighlighter/3.0.83/styles/shCoreDefault.min.css" />
<link type="text/css" rel="stylesheet"
	href="//cdn.bootcss.com/SyntaxHighlighter/3.0.83/styles/shThemeDefault.min.css" />

<!-- Custom CSS -->
<link href="{{static_url("css/clean-blog.min.css")}}" rel="stylesheet">

<!-- Custom Fonts -->
<link
	href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">
<link
	href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic'
	rel='stylesheet' type='text/css'>
<link
	href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
	rel='stylesheet' type='text/css'>

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<style type="text/css">
	.text-shadow { text-shadow:1px 1px 1px #000; padding:10px 0; color:#FFF; } 
	.pager li>a,.pager li>span {padding:5px 10px}
	.img-responsive { margin: 5px 0px 5px 0px;}
	.syntaxhighlighter table .container:before { display: none !important; }
	.container:before, .container:after { display: table; content: ""; line-height: 0;}
</style>
<style type="text/css">

</style>
</head>

<body>
	<!-- Navigation -->
	<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand text-shadow" href="/">Time&sup2;box</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a class="text-shadow" href="/">Home</a></li>
					<li><a class="text-shadow" href="/about">About</a></li>
					<li><a class="text-shadow" href="/demo-center">Demo Center</a></li>
					<li><a class="text-shadow" href="/contact">Contact</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

	<!-- Page Header -->
	<!-- Set your background image for this header on the line below. -->
	<header class="intro-header"
		style="background-image: url('{{article["imgUrl"]}}')">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<div class="post-heading">
						<h1 class="text-shadow">{{article["title"]}}</h1>
						<h2 class="subheading text-shadow">{{article["content"]}}</h2>
						<span class="meta text-shadow">Posted by <a href="#">{{article["accountNickname"]}}</a> {{article["timestamp"]}}
						</span>
					</div>
					<ul class="pager">
						<li class="next"><a href="/admin/edit-article?id={{article["id"]}}">
							<span class="glyphicon glyphicon-edit"></span></a></li>
					</ul>
				</div>
			</div>
		</div>
	</header>

	<!-- Post Content -->
	<article>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<!-- Pager -->
					<ul class="pager">
						<li class="previous"><a href="/admin/add-paragraph-raw?id={{article["id"]}}">
							<span class="glyphicon glyphicon-text-size"></span>+</a></li>
						<li class="previous"><a href="/admin/add-paragraph-img?id={{article["id"]}}">
							<span class="glyphicon glyphicon-picture"></span>+</a></li>
						<li class="previous"><a href="/admin/add-paragraph?id={{article["id"]}}">
							<span class="glyphicon glyphicon-pencil"></span>+</a></li>
					</ul>
					<hr/>
				</div>
				<div id="ptable" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					{% for paragraph in paragraphs %} 
						<div id="{{paragraph["id"]}}">
						{% module Template("blog/edit-paragraph-block.html",article=article,paragraph=paragraph) %} 
						<!-- Pager -->
						<ul class="pager">
							<li class="previous">
								<a onclick='downRow("{{article["id"]}}", "{{paragraph["id"]}}");'>
								<span class="glyphicon glyphicon-chevron-down"></span></a></li>
							<li class="previous">
								<a onclick='upRow("{{article["id"]}}", "{{paragraph["id"]}}");'>
								<span class="glyphicon glyphicon-chevron-up"></span></a></li>
							<li class="previous">
								<a onclick='delRow("{{article["id"]}}", "{{paragraph["id"]}}");'>
								<span class="glyphicon glyphicon-trash"></span></a></li>
								
							<li class="next"><a href="/admin/add-paragraph/after?id={{article["id"]}}&brotherId={{paragraph["id"]}}">
								<span class="glyphicon glyphicon-pencil"></span>+</a></li>
							<li class="next"><a href="/admin/add-paragraph-img/after?id={{article["id"]}}&brotherId={{paragraph["id"]}}">
								<span class="glyphicon glyphicon-picture"></span>+</a></li>
							<li class="next"><a href="/admin/add-paragraph-raw/after?id={{article["id"]}}&brotherId={{paragraph["id"]}}">
								<span class="glyphicon glyphicon-text-size"></span>+</a></li>
							</ul>
						<hr>
						</div>
					{% end %}
				</div>
			</div>
		</div>
	</article>

	<hr>

	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
					<ul class="list-inline text-center">
						<li><a href="mailto:thomas@time2box.com"> 
							<span class="fa-stack fa-lg"> 
								<i class="fa fa-circle fa-stack-2x"></i> 
								<i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
							</span>
						</a></li>
						<li><a href="http://weibo.com/sedums"> 
							<span class="fa-stack fa-lg"> 
								<i class="fa fa-circle fa-stack-2x"></i> 
								<i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
							</span>
						</a></li>
						<li><a href="https://www.linkedin.com/in/璟天-张-33a65a102"> 
							<span class="fa-stack fa-lg"> 
								<i class="fa fa-circle fa-stack-2x"></i> 
								<i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
							</span>
						</a></li>
						<li><a href="https://github.com/ThomasZh"> 
							<span class="fa-stack fa-lg"> 
								<i class="fa fa-circle fa-stack-2x"></i> 
								<i class="fa fa-github fa-stack-1x fa-inverse"></i>
							</span>
						</a></li>
					</ul>
					<p class="copyright text-muted">Copyright &copy; time2box.com 2016</p>
				</div>
			</div>
		</div>
	</footer>

	<!-- jQuery -->
	<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<!-- Custom Theme JavaScript -->
	<script src="{{static_url("js/clean-blog.min.js")}}"></script>
	<script type="text/javascript"
		src="//cdn.bootcss.com/SyntaxHighlighter/3.0.83/scripts/shCore.min.js"></script>
	<script type="text/javascript"
		src="//cdn.bootcss.com/SyntaxHighlighter/3.0.83/scripts/shBrushJScript.min.js"></script>

	<script type="text/javascript">

		SyntaxHighlighter.config.bloggerMode = true;
		SyntaxHighlighter.defaults['toolbar'] = false;
		SyntaxHighlighter.defaults['gutter'] = true;
		SyntaxHighlighter.defaults['smart-tabs'] = true;
		SyntaxHighlighter.defaults['tab-size'] = 4;
		SyntaxHighlighter.all();

		function downRow(articleId, paragraphId) {
			$.get("/admin/paragraph/down?articleId=" + articleId + "&id=" + paragraphId, function(data,status){
				var c = $("#"+paragraphId);
				var n = c.next();
				c.insertAfter(n);
			});
		}
		
		function upRow(articleId, paragraphId) {
			$.get("/admin/paragraph/up?articleId=" + articleId + "&id=" + paragraphId, function(data,status){
				var c = $("#"+paragraphId);
				var p = c.prev();
				c.insertBefore(p);
			});
		}
		
		function delRow(articleId, paragraphId) {
			var msg = "Are you sure you want to delete this item?";
			if (confirm(msg) == true) {
				$.get("/admin/paragraph/del?articleId=" + articleId + "&id=" + paragraphId, function(data,status){
					var c = $("#"+paragraphId);
					var p = $("#ptable");
					c.empty();
				});
				return true;
			} else {
				return false;
			}
		}
		
		function ScrollToParagraph(id){
  			if (id == null || id == undefined || id == '') {
			} else {
		    	var url = window.location.toString();
		    	var t = $('#'+id).offset().top;
		    	$(window).scrollTop(t);
			}
		}
	</script>
	<script defer="defer">
		// action after page loaded
		ScrollToParagraph('{{scrollToParagraphId}}');
	</script>
</body>

</html>
