
.main{
    background:#ff5400;
    color: white;
    height: 5rem;
    line-height: 5rem;   
}
.content {
  background-color: #ddd;
}
.content-padded {
  margin: 0;
}
.item-content{
/*    text-align: center;*/
    padding: 0.3rem 0;
}
.assement{
    color: black;
    opacity: 0.5;
}
img {
  vertical-align: middle;
  border: 5px;
}
.grid-panel .row {
  text-align: center;
  background-color: #fff;
}
.grid-panel .row + .row {
  //margin-top: 0.75rem;
}
.grid-panel .row > [class*=col-] {
  border: 1px solid #ddd;
  font-size: 0.7rem;
}

.no-border-grid-panel .row > [class*=col-]{
  color: #c7c7cc;
  text-align: center;
  background-color: #fff;
  font-size: 0.7rem;
  //margin-top: 0.25rem;
  //margin-bottom: 0.25rem;
  //border: 0.25rem solid #fff;
  background: white;
}


.list-block {
  margin: 0;
}

.list-block .item-after {
  color: #c7c7cc;
  font-size: 0.7rem;
}

.separator-block {
  margin: 0.5rem 0;
}

.avator {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.15rem;
  font-size: 1.2rem;
  line-height: 5.0rem;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3.75rem;
  display: inline-block;
  margin-left: 0.5rem;
}

img {
  vertical-align: middle;
  border: 5px;
}
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 0.5rem solid #ddd;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
       -o-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.img-circle {
  border-radius: 50%;
}
.vip{
    background: rgba(0,0,0,0.1);
    height: 1.2rem;
    line-height: 1.2rem;
    color: white;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px; 
    margin-top: 1.8rem;
    text-align: center;
    font-size: 12px;
}
.vip-name{
    color: white;
    padding-left: 1rem;
}
.card-list{
  border-radius: 1rem;
}
.item-subtitle{
  width: 47%;
}
.content-block{
  margin: 0;
  padding: 0;
}