<!-- 好材商品详情 @2017/07/05 -->
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>商品详情</title>
    <meta name="description" content="Material Design Mobile Template">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, minimum-scale=1,maximum-scale=1,user-scalable=no minimal-ui" />
    <!-- <meta name=”viewport” content=”width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0″    /> -->
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Icons -->
    <link href="{{ static_url('shuttle/css/ionicons.min.css') }}" media="all" rel="stylesheet" type="text/css">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ static_url('weui/css/weui.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('weui/css/jquery-weui.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/animate.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/swipebox.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/swiper.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle/css/main.css') }}">
    <link rel="stylesheet" href="{{ static_url('shuttle-master/css/prodetail.css') }}">
    <script src="{{ static_url('shuttle/js/vendor/modernizr-2.7.1.min.js') }}"></script>
    <style media="screen">
    .right-align input{
      letter-spacing: 0;
      width: 2.5rem!important;
      height: 2rem!important;
      text-align: center;
      color: #666;
      border: none;
      font-size: 1.6rem!important;
      margin: 0!important;
      padding-left:0;
    }
    </style>
  </head>
  <body>
    <!-- Main Container -->
    <div id="main" class="main" style="margin-bottom:5rem;">

      <!-- Page Contents -->
      <div class="animated fadeinup">

        <!-- Hero Header -->
        <div class="hero-header animated fadein">
          <!-- Slider -->
          <div class="swiper-container swiper-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <a href="#"><img src="{{ item['img'] }}!570x334" alt=""></a>
              </div>
              <div class="swiper-slide">
                <a href="#"><img src="{{ item['img'] }}!570x334" alt=""></a>
              </div>
              <div class="swiper-slide">
                <a href="#"><img src="{{ item['img'] }}!570x334" alt=""></a>
              </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
          </div>
          <!-- End of Slider -->
        </div>

        <!-- Product Title -->
        <div class=" p-20">
          <h3 class="m-0"><strong>{{ item['title'] }}</strong></h3>
          <span class="small grey-text">规格：{{ item_specs[0]['title'] }}</span><br />
          <span class="small grey-text">品牌：{{ item['brand_title'] }}</span>
          <h4 class="hilight">{{ item_specs[0]['amount'] }}元/根</h4>
        </div>

        <!-- Prduct Description -->
        <div class="product-description">
          <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#product1">商品介绍</a></li>
            <li class="tab col s3"><a href="#product2">商品评价</a></li>
          </ul>

          <div id="product1" class="p-20">
            <p class="text-flow">{{ article['paragraphs'] }}</p>
            <ul class="sell_prompt">
              <li>15天内可无理由退货（不影响二次销售且不含砂石砖水泥类材料）</li>
              <li>产品本身质量有问题，可无理由退货</li>
              <li>单笔满599元（不含沙石砖水泥类），免运费</li>
            </ul>
          </div>
          <div id="product2" class="p-20">
            <p class="text-flow">这里应该有评价列表。。。。</p>
          </div>
        </div>

        <div class="product-variation">
          <h5><strong>选择规格:</strong></h5>
            {% for i in range(len(item_specs)) %}
            <p class="flex">
              <input class="with-gap" name="spec" type="radio" id="test{{i}}" value="{{ item_specs[i]['spec_id'] }}" />
              <label for="test{{i}}">{{ item_specs[i]['title'] }}</label>
              <label class="right-side">
                <span class="block right-align">{{ item_specs[i]['amount'] }}元</span>
              </label>
            </p>
            {% end %}

          <h5><strong>选择数量:</strong></h5>
          <p class="flex">
            <span class="block right-align">
              <a href="javascript:;" class="J_Del"><i class="ion-minus-circled"></i></a>
              <input type="number" id="J_input" name="product_num" class="J_input" min="1" value="1">
              <a href="javascript:;" class="J_Add"><i class="ion-plus-circled"></i></a>
            </span>
          </p>
      </div>

        <!-- End of Page Contents -->
        <div id="footer-bar">
          <div class="cart-left" onclick="location.href='/bf/wx/vendors/{{ club_id }}/items/cart'">
            <a id="shop-car" class="shop-car-btn">
              <span></span><i class="ion-ios-cart-outline"></i>
            </a>
          </div>
          <a class="waves-effect waves-light btn-large modal-trigger accent-color block open-right" style="color:#666;" id="f_btn" >
            添加到购物车
          </a>
        </div>

      </div>
      <!-- End of Page Contents -->
    </div>
    <!-- End of Main Container -->

    <!-- Scripts -->
    <script src="{{ static_url('shuttle/js/vendor/jquery-2.1.0.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/helper.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/HeadsUp.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/jquery.smoothState.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/jquery.mixitup.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/jquery.swipebox.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/masonry.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/swiper.min.js') }}"></script>
    <script src="{{ static_url('shuttle/js/vendor/materialize.js') }}"></script>
    <script src="{{ static_url('weui/js/jquery-weui.min.js') }}"></script>
    <script src="{{ static_url('shuttle-master/js/prodetail.js') }}"></script>
    <script type="text/javascript">
    $(function(){

      function removeHtmlTab(tab) {
       return tab.replace(/<\/?[^>]*>/g,'');//删除所有HTML标签
     };

     var paragraphs = $("#J_show").text();
         paragraphs = removeHtmlTab(paragraphs)
      $("#J_show").text(paragraphs);

      $(".J_Del").on("click",function(){
        var num = $("#J_input").val();
          if(num < 2){
            num = 1;
            $("#J_input").val(num);
          }else{
            num--;
            $("#J_input").val(num);
          }
      });
      $(".J_Add").on("click",function(){
        var num = $("#J_input").val();
          num++;
          $("#J_input").val(num);
      });

      // 添加购物车数量
        var num = {{ cart_goods_num }};
        //  console.log(num);
        if(num>0){
            $("#shop-car span:first-child").addClass('mark');
            $("#shop-car span:first-child").html(num);
        }else{
          $("#shop-car span:first-child").removeClass('mark');
        }

      $("#f_btn").on('click',function(event){
        var tem_id = $("input[name='spec']:checked").val();
        var item_id = "{{ item_id }}";
        var product_num = $("#J_input").val();
        if(typeof(tem_id) == 'undefined'){
           event.preventDefault();
           $.alert('','请选择商品规格！')
        }else{
          var data = [{"item_id":item_id, "spec_id":tem_id, "quantity":product_num}];
          var json = JSON.stringify(data);
          console.log(json);
          $.ajax({
            type: "POST",
            url: "{{ api_domain }}/api/clubs/{{club_id}}/cart/items",
            data: json,
            dataType: "json",
            headers: {"Authorization":"Bearer {{access_token}}"},
            contentType: 'application/json',
            success: function(data, status, xhr) {
              console.log(data);
              var cart_goods_num = $("#shop-car span:first-child").html();
              if(cart_goods_num == ''){
                $("#shop-car span:first-child").addClass('mark');
                cart_goods_num = 0;
              }else{

              }
                var cart_num = parseInt(cart_goods_num) + parseInt(product_num);
                  $("#shop-car span:first-child").html(cart_num);
                  // console.log("ok");
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                console.log("error");
            },
            complete: function(XMLHttpRequest, textStatus) {
              this; // 调用本次AJAX请求时传递的options参数
            }
          });
        }
      })
    });
    </script>
  </body>
</html>
