<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- All the files that are required -->
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ static_url('css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ static_url('css/login.css') }}" rel="stylesheet" type="text/css">

  <title>forgot password</title>
</head>

<body>

  <!-- Where all the magic happens -->
  <!-- FORGOT PASSWORD FORM -->
  <div class="text-center" style="padding:50px 0">
    <div class="logo">forgot password</div>
    <!-- Main Form -->
    <div class="login-form-1">
      <form id="forgot-password-form" class="text-left" method="POST" action="/ops/auth/email/forgot-pwd">
        <div class="etc-login-form">
          <p>{{ err_msg }}</p>
        </div>
        <div class="login-form-main-message"></div>
        <div class="main-login-form">
          <div class="login-group">
            <div class="form-group">
              <label for="fp_email" class="sr-only">Email address</label>
              <input type="text" class="form-control" id="fp_email" name="fp_email" placeholder="email address">
            </div>
          </div>
          <button type="submit" class="login-button"><i class="fa fa-chevron-right"></i></button>
        </div>
        <div class="etc-login-form">
          <p>already have an account? <a href="/ops/auth/email/login">login here</a></p>
          <p>new user? <a href="/ops/auth/email/register">create new account</a></p>
        </div>
      </form>
    </div>
    <!-- end:Main Form -->

    <script type="text/javascript" src="{{ static_url('js/jquery.2.2.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/jquery.validate.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/localization/messages_zh.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('upyun/js/spark-md5.min.js') }}"></script>
    <script type="text/javascript" src="{{ static_url('js/json2.js') }}"></script>

    <script>
      $(function() {
        // Login Form
        //----------------------------------------------
        // Validation
        $("#forgot-password-form").validate({
          rules: {
            fp_email: {
              required: true,
              email: true
            },
          },
          errorClass: "form-invalid",
          submitHandler: function(form) {
            form.submit();
          }
        });
      });
    </script>
</body>

</html>
